.shadowed{-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,.2);-moz-box-shadow:0 1px 1px 0 rgba(0,0,0,.2);box-shadow:0 1px 1px 0 rgba(0,0,0,.2)}
body{background-color:#ffffff}
body,html{height:100%}
.no-js .dateformat{display:inline;white-space:nowrap}
.no-js .modal-body{padding:0}
.no-js .selections-toolbar{display:none}
.js .dateformat{display:none}
#wrap{min-height:100%;height:auto!important;height:100%}
.popup{padding-left:0;padding-right:0}
a{color:#0076B2}
a.cancel{padding-left:1em}
a:visited{color:#0076B2}
a.title{font-weight:700;font-size:108%}
a.btn:visited{color:#333}
a.btn-primary:visited{color:#FFF}
a.login-link{color:#0186ce;font-weight:700}
.ui-widget-content a,.ui-widget-content a:visited{color:#0076B2}
h1{font-size:140%;line-height:150%}
h1#libraryname{background:transparent url(../images/logo-koha.png) no-repeat scroll 0;border:0;float:left!important;margin:0;padding:0;width:120px}
h1#libraryname a{border:0;cursor:pointer;display:block;height:0!important;margin:0;overflow:hidden;padding:40px 0 0;text-decoration:none;width:120px}
h2{font-size:130%;line-height:150%}
h3{font-size:120%;line-height:150%}
h4{font-size:110%}
h5{font-size:100%}
caption{font-size:120%;font-weight:700;margin:0;text-align:left}
input,textarea{width:auto}
.input-fluid{width:50%}
legend{font-size:110%;font-weight:700}
table,td{background-color:#FFF}
td .btn{white-space:nowrap}
td .btn-link{padding:0}
#advsearches label,#booleansearch label{display:inline}#basketcount{display:inline;margin:0;padding:0}
#basketcount span{background-color:#FFC;color:#000;display:inline;font-size:80%;font-weight:400;margin:0 0 0 .9em;padding:0 .3em 0 .3em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
#members{display:block}
#members p,#members .login-link{color:#0186ce;}
#members a.logout{color:#E8583C;font-weight:700;padding:0 .3em 0 .3em}
#koha_url p{color:#666;float:right;margin:0}
#moresearches{margin:.5em 0;padding:0 .8em}#moresearches li{display:inline;white-space:nowrap}#moresearches li:after{content:" | "}
#moresearches ul{margin:0}#moresearches li:last-child:after{content:""}
#news{margin:.5em 0}.newscontainer{border:1px solid #ddd;border-bottom-width:0;border-top-left-radius:5px;border-top-right-radius:5px}
.newsheader{background-color:#ecede6;border-bottom:1px solid #ddd;margin:0;padding:8px}.newsbody{padding:8px}
.newsfooter{border-bottom:1px solid #ddd;font-style:italic;padding:4px 8px}#opacheader{background-color:#DDD}
#selections,.selections{font-weight:700}
.actions a{white-space:nowrap}
.actions a.hold{background-image:url(../images/sprite.png);background-position:-5px -542px;background-repeat:no-repeat;margin-right:1em;padding-left:21px;text-decoration:none}
.actions a.article_request{background-image:url(../images/sprite.png);background-position:-2px -26px;background-repeat:no-repeat;margin-right:1em;padding-left:21px;text-decoration:none}.actions a.addtocart{background-image:url(../images/sprite.png);background-position:-5px -572px;background-repeat:no-repeat;margin-right:1em;padding-left:20px;text-decoration:none}.actions a.addtoshelf{background-image:url(../images/sprite.png);background-position:-5px -27px;background-repeat:no-repeat;margin-right:1em;padding-left:20px;text-decoration:none}.actions a.addtolist{background-position:-5px -27px;margin-right:1em;padding-left:20px;text-decoration:none}.actions a.tag_add{background-position:-5px -1110px;margin-right:1em;padding-left:20px;text-decoration:none}.actions a.removefromlist{background-position:-8px -690px;margin-right:1em;text-decoration:none;padding-left:15px}.alert{background:#fffbe5;background:-moz-linear-gradient(top,#fffbe5 0,#fff0b2 9%,#fff1a8 89%,#f7e665 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fffbe5),color-stop(9%,#fff0b2),color-stop(89%,#fff1a8),color-stop(100%,#f7e665));background:-webkit-linear-gradient(top,#fffbe5 0,#fff0b2 9%,#fff1a8 89%,#f7e665 100%);background:-o-linear-gradient(top,#fffbe5 0,#fff0b2 9%,#fff1a8 89%,#f7e665 100%);background:-ms-linear-gradient(top,#fffbe5 0,#fff0b2 9%,#fff1a8 89%,#f7e665 100%);background:linear-gradient(to bottom,#fffbe5 0,#fff0b2 9%,#fff1a8 89%,#f7e665 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbe5', endColorstr='#f7e665', GradientType=0);border-color:#D6C43B;color:#333}.alert-info{background:#f4f6fa;background:-moz-linear-gradient(top,#f4f6fa 0,#eaeef5 4%,#e8edf6 96%,#cddbf2 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f4f6fa),color-stop(4%,#eaeef5),color-stop(96%,#e8edf6),color-stop(100%,#cddbf2));background:-webkit-linear-gradient(top,#f4f6fa 0,#eaeef5 4%,#e8edf6 96%,#cddbf2 100%);background:-o-linear-gradient(top,#f4f6fa 0,#eaeef5 4%,#e8edf6 96%,#cddbf2 100%);background:-ms-linear-gradient(top,#f4f6fa 0,#eaeef5 4%,#e8edf6 96%,#cddbf2 100%);background:linear-gradient(to bottom,#f4f6fa 0,#eaeef5 4%,#e8edf6 96%,#cddbf2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f6fa', endColorstr='#cddbf2', GradientType=0);border-color:#C5D1E5;color:#333}.alert-success{background:#f8ffe8;background:-moz-linear-gradient(top,#f8ffe8 0,#e3f5ab 4%,#dcf48d 98%,#9ebf28 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f8ffe8),color-stop(4%,#e3f5ab),color-stop(98%,#dcf48d),color-stop(100%,#9ebf28));background:-webkit-linear-gradient(top,#f8ffe8 0,#e3f5ab 4%,#dcf48d 98%,#9ebf28 100%);background:-o-linear-gradient(top,#f8ffe8 0,#e3f5ab 4%,#dcf48d 98%,#9ebf28 100%);background:-ms-linear-gradient(top,#f8ffe8 0,#e3f5ab 4%,#dcf48d 98%,#9ebf28 100%);background:linear-gradient(to bottom,#f8ffe8 0,#e3f5ab 4%,#dcf48d 98%,#9ebf28 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8ffe8', endColorstr='#9ebf28', GradientType=0);border-color:#9FBA35;color:#333}.breadcrumb{background-color:#F2F2EF;font-size:85%;list-style:none outside none;margin:10px 20px;padding:5px 10px;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px}.form-inline{display:inline;padding:0;margin:0}.form-inline fieldset{margin:.3em 0;padding:.3em}.main{background-color:#FFF;border:1px solid #D2D2CF;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,.2);-moz-box-shadow:0 1px 1px 0 rgba(0,0,0,.2);box-shadow:0 1px 1px 0 rgba(0,0,0,.2);margin-top:.5em;margin-bottom:.5em}
.mastheadsearch{
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
    padding:.8em;
    margin:.5em 0;

}
.mastheadsearch label{font-size:115%;font-weight:700}
.navbar-inverse .brand,.navbar-inverse .nav>li>a{color:#000000;text-shadow:none;}
.navbar-fixed-bottom.navbar-static-bottom{margin-top:.5em;position:static}#changelanguage .nav>.active>p{padding:0 15px}.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th{background-color:#F4F4F4}.ui-tabs-nav .ui-tabs-active a,.ui-tabs-nav a:active,.ui-tabs-nav a:focus,.ui-tabs-nav a:hover,.ui-tabs-nav span.a{background:none repeat scroll 0 0 transparent;outline:0 none}.ui-widget,.ui-widget button,.ui-widget input,.ui-widget select,.ui-widget textarea{font-family:inherit;font-size:inherit}ul.ui-tabs-nav li{list-style:none}.ui-tabs.ui-widget-content{background:transparent none;border:0}.ui-tabs .ui-tabs-panel{border:1px solid #D8D8D8;margin-bottom:1em}.ui-tabs-nav.ui-widget-header{border:0;background:0 0}.ui-tabs .ui-tabs-nav li{background:#F3F3F3 none;border-color:#D8D8D8;margin-right:.4em}.ui-tabs .ui-tabs-nav li.ui-tabs-active{background-color:#FFF;border:1px solid #D8D8D8;border-bottom:0}.ui-tabs .ui-tabs-nav li.ui-tabs-active a{color:#000;font-weight:700}.ui-tabs .ui-tabs-nav li.ui-state-default.ui-state-hover{background:#F3F3F3 none}.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover{background:#FFF none}.ui-tabs .ui-state-default a,.ui-tabs .ui-state-default a:link,.ui-tabs .ui-state-default a:visited{color:#069}.ui-tabs .ui-state-hover a,.ui-tabs .ui-state-hover a:link,.ui-tabs .ui-state-hover a:visited{color:#903}.statictabs ul{background:none repeat scroll 0 0 transparent;border:0 none;margin:0;padding:.2em .2em 0;border-bottom-right-radius:4px;border-bottom-left-radius:4px;border-top-right-radius:4px;border-top-left-radius:4px;color:#222;font-weight:700;font-size:100%;line-height:1.3;list-style:none outside none;outline:0 none;text-decoration:none}.statictabs ul:before{content:"";display:table}.statictabs ul:after{clear:both;content:"";display:table}.statictabs li{background:none repeat scroll 0 0 #E6F0F2;border:1px solid #B9D8D9;border-bottom:0 none!important;border-top-right-radius:4px;border-top-left-radius:4px;float:left;list-style:none outside none;margin-bottom:0;margin-right:.4em;padding:0;position:relative;white-space:nowrap;top:1px;color:#555;font-weight:400}.statictabs li.active{background-color:#FFF;color:#212121;font-weight:400;padding-bottom:1px}.statictabs li a{color:#004D99;cursor:pointer;float:left;padding:.5em 1em;text-decoration:none}.statictabs li a:hover{background-color:#EDF4F5;border-top-right-radius:4px;border-top-left-radius:4px;color:#538200}.statictabs li.active a{color:#000;font-weight:700;cursor:text;background:none repeat scroll 0 0 transparent;outline:0 none}.statictabs .tabs-container{border:1px solid #B9D8D9;background:none repeat scroll 0 0 transparent;display:block;padding:1em 1.4em;border-bottom-right-radius:4px;border-bottom-left-radius:4px;color:#222}.ui-datepicker table{width:100%;font-size:.9em;border:0;border-collapse:collapse;margin:0 0 .4em}.ui-datepicker th{background:transparent none;padding:.7em .3em;text-align:center;font-weight:700;border:0}.ui-datepicker-trigger{vertical-align:middle;margin:0 3px}.ui-datepicker{-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,.2);-moz-box-shadow:0 1px 1px 0 rgba(0,0,0,.2);box-shadow:0 1px 1px 0 rgba(0,0,0,.2)}.ui-widget-content{border:1px solid #AAA;background:#fff none;color:#222}.ui-widget-header{border:1px solid #AAA;background:#E6F0F2 none;color:#222;font-weight:700}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #AAA;background:#F4F8F9 none;font-weight:400;color:#555}.ui-state-focus,.ui-state-hover,.ui-widget-content .ui-state-focus,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-focus,.ui-widget-header .ui-state-hover{border:1px solid #AAA;background:#E6F0F2 none;font-weight:400;color:#212121}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #aaa;background:#fff none;font-weight:400;color:#212121}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fcefa1;background:#fbf9ee;color:#363636}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#fef1ec;color:#cd0a0a}th{background-color:#ECEDE6}.item-thumbnail{max-width:none}.no-image{background-color:#FFF;border:1px solid #AAA;color:#979797;display:block;font-size:86%;font-weight:700;text-align:center;width:75px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}#bookcover .no-image{margin-right:10px;margin-bottom:10px}td.overdue{color:#c33}table{font-size:90%}th.sum{text-align:right}td.sum{background-color:#FFC;font-weight:700}th[scope=row]{background-color:transparent;text-align:right}.required{color:#C00}.label{background-color:transparent;color:inherit;display:inline;font-weight:400;padding:0;text-shadow:none}.blabel{background-color:#999;border-radius:3px;color:#fff;display:inline-block;font-weight:700;padding:2px 4px;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.label-important{background-color:#b94a48}.label-warning{background-color:#f89406}.label-success{background-color:#468847}.label-info{background-color:#3a87ad}.label-inverse{background-color:#333}fieldset.rows{float:left;font-size:90%;clear:left;margin:.9em 0 0 0;padding:0;width:100%}fieldset.rows legend{font-weight:700;font-size:130%}fieldset.rows .label,fieldset.rows label{float:left;font-weight:700;width:9em;margin-right:1em;text-align:right}fieldset.rows label.lradio{float:none;margin:inherit;width:auto}fieldset.rows fieldset{margin:0;padding:.3em}fieldset.rows ol{padding:1em 1em 0 1em;list-style-type:none}fieldset.rows ol.lradio label{width:auto;float:none;margin-right:0}fieldset.rows ol.lradio label.lradio{float:left;width:12em;margin-right:1em}fieldset.rows li{float:left;clear:left;padding-bottom:1em;list-style-type:none;width:100%}fieldset.rows li.lradio{padding-left:8.5em;width:auto}fieldset.rows li.lradio label{float:none;width:auto;margin:0 0 0 1em}fieldset.rows .hint{display:block;margin-left:11em}fieldset.action{clear:both;float:none;border:none;margin:0;padding:1em 0 .3em 0;width:auto}fieldset.action p{margin-bottom:1em}fieldset table{font-size:100%}div.rows+div.rows{margin-top:.6em}div.rows{float:left;clear:left;margin:0;padding:0;width:100%}div.rows span.label{float:left;font-weight:700;width:9em;margin-right:1em;text-align:left}div.rows ol{list-style-type:none;margin-left:0;padding:.5em 1em 0 0}div.rows li{border-bottom:1px solid #EEE;float:left;clear:left;padding-bottom:.2em;padding-top:.1em;list-style-type:none;width:100%}div.rows ul li{margin-left:7.3em}div.rows ul li:first-child{float:none;clear:none;margin-left:0}div.rows ol li li{border-bottom:0}.tagweight0{font-size:12px}.tagweight1{font-size:14px}.tagweight2{font-size:16px}.tagweight3{font-size:18px}.tagweight4{font-size:20px}.tagweight5{font-size:22px}.tagweight6{font-size:24px}.tagweight7{font-size:26px}.tagweight8{font-size:28px}.tagweight9{font-size:30px}.toolbar{background-color:#EEE;border:1px solid #E8E8E8;font-size:85%;padding:3px 3px 5px 5px;vertical-align:middle}.toolbar a{white-space:nowrap}.toolbar label{display:inline;font-size:100%;font-weight:700;margin-left:.5em}.toolbar select{font-size:97%;height:auto;line-height:inherit;padding:0;margin:0;width:auto;white-space:nowrap}.toolbar #tagsel_tag,.toolbar .hold{padding-left:28px;font-size:97%;font-weight:700}.toolbar #tagsel_form{margin-top:.5em}.toolbar li{display:inline;list-style:none}.toolbar li a{border-left:1px solid #e8e8e8}.toolbar li:first-child a{border-left:0}.toolbar ul{padding-left:0}#basket .toolbar{padding:7px 5px 9px 9px}
#selections-toolbar,.selections-toolbar{
    margin:0 0 1em 0;
    padding-top:.5em;
    padding-left:10px
}
.list-actions{display:inline}
#tagsel_span input.submit,#tagsel_tag{border:0;background-color:transparent;font-size:100%;color:#0076B2;cursor:pointer;background-image:url(../images/sprite.png);
                                                                                                                                                                                                                                                                              background-position:1px -643px;background-repeat:no-repeat;padding-left:25px;text-decoration:none}#tagsel_tag.disabled{background-position:-1px -667px}#selections-toolbar input.hold:hover,#tagsel_span input:hover{color:#005580;text-decoration:underline}#selections-toolbar a.disabled,#selections-toolbar a.disabled:hover,#selections-toolbar input.hold.disabled,#selections-toolbar input.hold.disabled:hover,#tagsel_span input.disabled,#tagsel_span input.disabled:hover,#tagsel_span input.hold.disabled,#tagsel_span input.hold.disabled:hover,.selections-toolbar a.disabled,.selections-toolbar a.disabled:hover{color:#888;text-decoration:none;padding-left:23px}.results_summary{display:block;font-size:85%;color:#707070;padding:0 0 .5em 0}.results_summary .results_summary{font-size:100%}.results_summary.actions{margin-top:.5em}.results_summary.tagstatus{display:inline}.results_summary .label{color:#202020}.results_summary a{font-weight:400}#views{margin-bottom:.5em;padding:0 2em .2em .2em}.view{background-color:#F3F3F3;border:1px solid #C9C9C9;border-radius:4px;display:inline-block;padding:.2em .5em;white-space:nowrap}#bibliodescriptions,#isbdcontents{clear:left;margin-top:.5em}.view a,.view span{background-image:url(../images/sprite.png);background-repeat:no-repeat;font-size:87%;padding-left:15px;text-decoration:none}.view a{font-weight:400}.current-view{background-color:#fff;font-weight:700}#MARCview{background-position:-9px -27px}#ISBDview{background-position:-10px -56px}#Normalview{background-position:-8px 3px}#bookcover{float:left;margin:0;padding:0}#bookcover .no-image{margin-right:10px;margin-bottom:10px}#bookcover img{margin:0 1em 1em 0;width: 200px;height: auto;}.results-pagination{position:absolute;top:32px;left:-1px;width:100%;height:auto;border:1px solid #D0D0D0;display:none;background-color:#F3F3F3;padding-bottom:10px;z-index:100}.back{float:right}.back input{background:0 0!important;color:#999!important}.pagination_list ul{padding-top:40px;padding-left:0}.pagination_list li{list-style:none;float:bottom;padding:4px;color:#999}.pagination_list li.highlight{background-color:#F3F3F3;border-top:1px solid #DDD;border-bottom:1px solid #DDD}.pagination_list li a{padding-left:0}.pagination_list .li_pag_index{color:#999;float:left;font-size:15px;font-weight:700;padding-right:10px;text-align:right;width:13px}.nav_results{background-color:#F3F3F3;border:1px solid #D0D0D0;font-size:95%;font-weight:700;margin-top:.5em;position:relative}.nav_results .l_Results a{background:#E1E1E1 url(../images/sprite.png) no-repeat 0 -504px;color:#069;display:block;padding:8px 28px;text-decoration:none}.nav_results .l_Results:hover{background-color:#D9D9D9}.pg_menu{margin:0;border-top:1px solid #D0D0D0;white-space:nowrap}.pg_menu li{color:#B2B2B2;display:inline;list-style:none;margin:0}.pg_menu li.back_results a{border-left:1px solid #D0D0D0;border-right:1px solid #D0D0D0}.pg_menu li a,.pg_menu li span{background-color:#F3F3F3;display:block;float:left;padding:.4em .5em;text-decoration:none;font-weight:400;text-align:center}.pg_menu li span{color:#B2B2B2}#listResults li{background-color:#999;color:#C5C5C5;font-weight:400;display:block;margin-right:1px;font-size:80%;padding:0;text-align:center;min-width:18px}#listResults li:hover{background-color:#069}#listResults li a{color:#FFF;font-weight:400}.nav_pages .close_pagination{padding-right:10px;position:absolute;right:3px;top:-25px}.nav_pages .close_pagination a{text-decoration:none!important}.nav_pages ul{padding-top:10px}.nav_pages li{list-style:none;float:left;padding:4px;color:#999}.nav_pages li a{text-decoration:none!important}.nav_pages li a:hover{text-decoration:underline}.nav_pages li ul{float:left}#action{margin:.5em 0 0 0;background-color:#F3F3F3;border:1px solid #E8E8E8;padding-bottom:3px}#action li{list-style:none;margin:.2em;padding:.3em 0}#action a{font-weight:700;text-decoration:none}#export li,#moresearches_menu li{padding:0;margin:0}#export li a,#moresearches_menu li a{font-weight:400}#export li a.menu-inactive,#moresearches_menu li a.menu-inactive{font-weight:700}#format,#furthersearches{padding-left:35px}.highlight_controls{float:left}.deleteshelf,.newshelf,.newshelf.disabled,a.addtocart,a.addtoshelf,a.article_request,a.brief,a.deleteshelf,a.deleteshelf.disabled,a.detail,a.download,a.editshelf,a.empty,a.hide,a.highlight_toggle,a.hold,a.hold.disabled,a.incart,a.new,a.print-large,a.print-small,a.removefromlist,a.removeitems,a.removeitems.disabled,a.reserve,a.send,a.sharelist,a.tag_add,input.editshelf,input.hold,input.hold.disabled{background-image:url(../images/sprite.png);background-repeat:no-repeat}a.addtocart{background-position:-5px -265px;padding-left:35px}a.addtoshelf{background-position:-5px -225px;padding-left:35px}a.brief{background-position:-2px -868px;text-decoration:none;padding-left:27px}a.cartRemove{color:#c33;font-size:90%;margin:0;padding:0}a.detail{background-position:-2px -898px;text-decoration:none;padding-left:27px}a.download{background-position:-5px -348px;padding-left:20px;text-decoration:none}a.editshelf{background-position:2px -348px;padding-left:26px;text-decoration:none}a.sharelist{background-position:2px -1148px;padding-left:26px;text-decoration:none}a.empty{background-position:2px -598px;text-decoration:none;padding-left:30px}a.hide{background-position:-3px -814px;text-decoration:none;padding-left:26px}a.highlight_toggle{background-position:-5px -841px;display:none;padding-left:35px}a.hold,input.hold{background-position:-2px -453px;text-decoration:none;padding-left:23px}a.hold.disabled,input.hold.disabled{background-position:-5px -621px}a.incart{background-position:-5px -265px;color:#666;padding-left:35px}a.new{background-image:url(../images/sprite.png);background-position:-4px -922px;padding-left:23px;text-decoration:none}a.print-small{background-position:0 -423px;text-decoration:none;padding-left:30px}a.print-large{background-position:-5px -186px;text-decoration:none;padding-left:35px}a.deleteshelf,a.removeitems{background-position:2px -690px;text-decoration:none;padding-left:25px}a.deleteshelf.disabled,a.removeitems.disabled{background-position:2px -712px}a.reserve{background-position:-6px -144px;padding-left:35px}a.article_request{background-position:0 -24px;padding-left:35px}a.send{background-position:2px -386px;text-decoration:none;padding-left:28px}a.tag_add{background-position:3px -1111px;padding-left:27px;text-decoration:none}input.hold{background-color:transparent;border:0;color:#0076B2;font-weight:700}input.editshelf{background-color:transparent;background-position:2px -734px;border:0;color:#069;cursor:pointer;filter:none;font-size:100%;padding-left:29px;text-decoration:none}.newshelf{background-position:2px -764px;border:0;color:#069;cursor:pointer;filter:none;font-size:100%;padding-left:28px;text-decoration:none}.newshelf.disabled{background-position:-4px -791px}.deleteshelf{background-color:transparent;background-position:2px -687px;border:0;color:#069;cursor:pointer;filter:none;font-size:100%;padding-left:25px;text-decoration:none}.links a{font-weight:700}.deleteshelf:hover{color:#903}.deleteshelf:active,.editshelf:active{border:0}#tagslist li{display:inline}#login4tags{background-image:url(../images/sprite.png);background-position:-6px -1130px;background-repeat:no-repeat;padding-left:20px;text-decoration:none}.tag_results_input{margin-left:1em;padding:.3em;font-size:12px}.tag_results_input input[type=text]{font-size:inherit;margin:0;padding:0}.tag_results_input label{display:inline}.tagsinput input[type=text]{font-size:inherit;margin:0;padding:0}.tagsinput label{display:inline}.branch-info-tooltip{display:none}.ui-tooltip-content p{margin:.3em 0}#social_networks a{background:transparent url(../images/social-sprite.png) no-repeat;display:block;height:20px!important;width:20px;text-indent:-999em}#social_networks span{color:#274D7F;display:block;float:left;font-size:85%;font-weight:700;line-height:2em;margin:.5em 0 .5em .5em!important}#social_networks div{float:left!important;margin:.5em 0 .5em .2em!important}#social_networks #facebook{background-position:-7px -35px}#social_networks #twitter{background-position:-7px -5px}#social_networks #linkedin{background-position:-7px -95px}#social_networks #delicious{background-position:-7px -66px}#social_networks #email{background-position:-7px -126px}#marc td,#marc th{background-color:transparent;border:0;padding:3px 5px;text-align:left}#marc td:first-child{text-indent:2em}#marc p{padding-bottom:.6em}#marc p .label{font-weight:700}#marc ul{padding-bottom:.6em}#marc .results_summary{clear:left}#marc .results_summary ul{display:inline;float:none;clear:none;margin:0;padding:0;list-style:none}#marc .results_summary li{display:inline}#items,#items td #items th{border:1px solid #EEE;font-size:90%}#plainmarc table{border:0;margin:.7em 0 0 0;font-family:monospace;font-size:95%}#plainmarc th{background-color:#FFF;border:0;white-space:nowrap;text-align:left;vertical-align:top;padding:2px}#plainmarc td{border:0;padding:2px;vertical-align:top}#renewcontrols{float:right;font-size:66%}#renewcontrols a{background-repeat:no-repeat;text-decoration:none;padding:.1em .4em;padding-left:18px}#renewselected_link{background-image:url(../images/sprite.png);background-position:-5px -986px;background-repeat:no-repeat}#renewall_link{background-image:url(../images/sprite.png);background-position:-8px -967px;background-repeat:no-repeat}.authref{text-indent:2em}.authref .label{font-style:italic}.authstanza{margin-top:1em}.authstanzaheading{font-weight:700}.authorizedheading{font-weight:700}.authstanza li{margin-left:.5em}.authres_notes,.authres_otherscript,.authres_seealso{padding-top:.5em}.authres_notes{font-style:italic}#didyoumean{background-color:#EEE;border:1px solid #E8E8E8;box-sizing:border-box;margin:.5em 1.5em;text-align:left;padding:.5em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}#didyoumean.dym-loaded{border-color:#F4ECBE;background-color:#FFFBEA}.suggestionlabel{font-weight:700}.searchsuggestion{padding:.2em .5em;display:inline-block}.authlink{padding-left:.25em}#hierarchies a{font-weight:400;text-decoration:underline;color:#069}#hierarchies a:hover{color:#903}#top-pages{margin:0 0 .5em}.dropdown-menu>li>a{font-size:90%}a.listmenulink:link,a.listmenulink:visited{color:#0076B2;font-weight:700}a.listmenulink:active,a.listmenulink:hover{color:#FFF;font-weight:700}#cartDetails,#cartUpdate,#holdDetails,#listsDetails{background-color:#FFF;border:1px solid rgba(0,0,0,.2);border-radius:6px 6px 6px 6px;box-shadow:0 5px 10px rgba(0,0,0,.2);color:#000;display:none;font-size:90%;margin:0;padding:8px 20px;text-align:center;width:180px;z-index:2}#cartmenulink{white-space:nowrap}#menu,#search-facets{border:1px solid #D2D2CF;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px}#menu ul,#search-facets ul{margin:0;padding:.3em}#menu form,#search-facets form{margin:0}#menu h4,#search-facets h4{font-size:90%;margin:0 0 .6em 0;text-align:center}
#menu h4 a,#search-facets h4 a{
    border-radius:8px 8px 0 0;
    border-bottom:1px solid #D8D8D8;
    display:block;font-weight:700;
    padding:.7em .2em;
    text-decoration:none;
    background:#60b6e6;
    color: #ffffff;
}
#menu li,#search-facets li{font-size:90%;font-weight:700;list-style-type:none}
#menu li li,#search-facets li li{font-weight:400;font-size:95%;line-height:125%;margin-bottom:2px;padding:.1em .2em}
#menu li.showmore a,#search-facets li.showmore a{font-weight:700;text-indent:1em}
#menu a,#search-facets a{font-weight:400;text-decoration:underline}
#menu .facet-count,#search-facets .facet-count{display:inline-block}
#menu{font-size:94%}
#menu li{list-style-type:none}
#menu li a{
    background:#ffffff;
    text-decoration:none;
    display:block;
    border:1px solid #D8D8D8;
    border-radius:5px 0 0 5px;
    border-bottom-color:#999;
    font-size:111%;
    padding:0.7em 1em;
    margin:0.8em 0;
    color: #0186ce;
    margin-right:-1px
}
#menu li a:hover{background:#60b6e6;color: #ffffff;}
#menu li.active a{
    background:#60b6e6;
    color: #ffffff;
}
#menu h4{display:none}
#addto{max-width:10em}
.addto a.addtocart{background-image:url(../images/sprite.png);background-position:-5px -266px;background-repeat:no-repeat;text-decoration:none;padding-left:33px}.searchresults p{margin:0;padding:0 0 .6em 0}.searchresults p.details{color:#979797}.searchresults a.highlight_toggle{background-image:url(../images/sprite.png);background-position:-11px -841px;background-repeat:no-repeat;display:none;font-weight:400;padding:0 10px 0 21px}.searchresults .commentline{background-color:#ffc;background-color:rgba(255,255,204,.4);border:1px solid #CCC;display:inline-block;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,.2);-moz-box-shadow:0 1px 1px 0 rgba(0,0,0,.2);box-shadow:0 1px 1px 0 rgba(0,0,0,.2);margin:.3em;padding:.4em}.searchresults .commentline.yours{background-color:#effed5;background-color:rgba(239,254,213,.4)}.commentline .avatar{float:right;padding-left:.5em}.term{color:#900;background-color:#FFC}.shelvingloc{display:block;font-style:italic}#CheckAll,#CheckNone,.CheckAll,.CheckNone{font-weight:400;margin:0 .5em;text-decoration:underline}span.sep{color:#888;padding:0 .2em 0 .5em;text-shadow:1px 1px 0 #FFF}.pages{margin:20px 0}.pages a:first-child,.pages span:first-child{border-width:1px 1px 1px 1px;border-bottom-left-radius:3px;border-top-left-radius:3px}.pages a:last-child,.pages span:last-child{border-width:1px 1px 1px 0;border-bottom-right-radius:3px;border-top-right-radius:3px}
.pages .currentPage,.pages .inactive,.pages a{
    -moz-border-bottom-colors:none;
    -moz-border-left-colors:none;
    -moz-border-right-colors:none;
    -moz-border-top-colors:none;
    background-color:#FFF;
    border-color:#DDD;
    border-image:none;
    border-style:solid;
    border-width:1px 1px 1px 0;
    float:left;
    font-size:12px;
    line-height:20px;
    padding:4px 12px;
    text-decoration:none
}
.pages .currentPage{
    background:#60b6e6;
    color: #ffffff;
}
.pages .inactive{background-color:#F5F5F5;}
.pages a[rel=last]{border-bottom-right-radius:3px;border-top-right-radius:3px}
.hold-message{background-color:#FFF0B1;display:inline-block;margin:.5em;padding:.2em .5em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.expiration_date,.reserve_date{white-space:nowrap}
.close{color:#08C;position:inherit;top:auto;right:auto;filter:none;float:none;font-size:inherit;font-weight:400;opacity:inherit;text-shadow:none}
.close:hover{color:#538200;filter:inherit;font-size:inherit;opacity:inherit}.alert .closebtn{position:relative;top:-2px;right:-21px;line-height:20px}
.modal-header .closebtn{margin-top:2px}
.closebtn{float:right;font-size:20px;font-weight:700;line-height:20px;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}
.closebtn:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.4;filter:alpha(opacity=40)}
button.closebtn{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}
.btn-group label,.btn-group select{font-size:13px}.span2 select{width:100%}
.popup .main{font-size:90%;padding:0 1em}
.popup legend{line-height:1.5em;margin-bottom:.5em}
.item-status{display:block;font-size:95%;margin-bottom:.5em}.available{color:#060}
.unavailable{color:#903}.checkedout,.intransit,.lost,.notforloan,.notonhold,.waiting{display:block}
.notforloan{color:#900}.lost{color:#666}
.suggestion{background-color:#EEEEEB;border:1px solid #DDDED3;margin:1em auto;padding:.5em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.librarypulldown .transl1{width:auto}
.nolibrarypulldown{width:68%}
.nolibrarypulldown .transl1{width:87%;   height: 28px;
    overflow: hidden;
    padding: 0px 6px;
    border: 1px #d1d1d1 solid;}
#opac-main-search select{width:auto;max-width:12em}
#logo{background:transparent url(../images/koha-logo-navbar.png) no-repeat scroll 0;border:0;float:left!important;margin:0;padding:0;width:150px}
#logo a{border:0;cursor:pointer;display:block;height:0!important;margin:0;overflow:hidden;padding:40px 0 0;text-decoration:none;width:124px}
#user-menu-trigger{display:none}
#user-menu-trigger .icon-user{background:transparent url(../lib/bootstrap/img/glyphicons-halflings-white.png) no-repeat;    background-color:#aaaaaa;;background-position:-168px 0;background-repeat:no-repeat;height:14px;line-height:14px;margin:12px 0 0;vertical-align:text-top;width:14px}#user-menu-trigger .caret{border-bottom-color:#999;border-top-color:#999;margin-top:18px}.floating{-webkit-box-shadow:0 3px 2px 0 rgba(0,0,0,.4);box-shadow:0 3px 2px 0 rgba(0,0,0,.4);margin-top:0}.tdlabel{font-weight:700;display:none}td img{max-width:none}#ulactioncontainer{min-width:16em}.notesrow label{font-weight:700}.notesrow span{display:block}.thumbnail-shelfbrowser span{margin:0 auto}.dropdown-menu>li>a.menu-inactive:hover{background:#FFF none;color:#000}.table .sorting_asc{padding-right:19px;background:url(../images/asc.gif) no-repeat scroll right center #ECEDE6}.table .sorting_desc{padding-right:19px;background:url(../images/desc.gif) no-repeat scroll right center #ECEDE6}.table .sorting{padding-right:19px;background:url(../images/ascdesc.gif) no-repeat scroll right center #ECEDE6}.table .nosort,.table .nosort.sorting,.table .nosort.sorting_asc,.table .nosort.sorting_desc{padding-right:19px;background:#ECEDE6 none}.table td,.table th{line-height:135%}.shelves ul,.tags ul{display:inline;list-style:none;margin-left:0}.shelves ul li,.tags ul li{display:inline}.coverimages{float:right}#i18nMenu{margin-left:1em}#i18nMenu li{font-size:85%}#i18nMenu li li{font-size:100%}#i18nMenu li li>a{font-size:100%}#i18nMenu li li>a:hover{color:#FFF}#i18nMenu li a{color:#0076B2}#i18nMenu .dropdown-menu li p{clear:both;display:block;font-weight:400;line-height:20px;padding:3px 20px;white-space:nowrap}#authorSearch label,#subjectsList label{display:inline;vertical-align:middle}#authorSearch ul,#subjectsList ul{border-bottom:1px solid #EEE;list-style-type:none;margin:0;padding:.6em 0}#authorSearch li,#subjectsList li{list-style-type:none;margin:0;padding:0}#openlibrary-results,#overdrive-results{font-weight:700;padding-left:1em}.throbber{vertical-align:middle}#overdrive-results-list .star-rating-control{display:block;overflow:auto}#shelfbrowser table{margin:0}#shelfbrowser table,#shelfbrowser td,#shelfbrowser th{border:0;font-size:90%;text-align:center}#shelfbrowser td,#shelfbrowser th{padding:3px 5px;width:20%}#shelfbrowser a{display:block;font-size:110%;font-weight:700;text-decoration:none}#shelfbrowser #browser_next,#shelfbrowser #browser_previous{background-image:url(../images/sprite.png);background-repeat:no-repeat;width:16px}#shelfbrowser #browser_next a,#shelfbrowser #browser_previous a{cursor:pointer;display:block;height:0!important;margin:0;overflow:hidden;padding:50px 0 0;text-decoration:none;width:16px}#shelfbrowser #browser_previous{background-position:-9px -1007px}#shelfbrowser #browser_next{background-position:-9px -1057px}#holds{margin:0 auto;max-width:800px}.holdrow{clear:both;padding:0 1em 1em 1em;border-bottom:1px solid #CCC;margin-bottom:.5em}.holdrow fieldset{border:0;margin:0;float:none}.holdrow fieldset .label{font-size:14px}.holdrow label{display:inline}.hold-options{clear:both}.toggle-hold-options{background-color:#eee;clear:both;display:block;font-weight:700;margin:1em 0;padding:.5em}.copiesrow{clear:both}#idreambooksreadometer{float:right}a.idreambooksrating{font-size:30px;color:#29ADE4;padding-left:85px;line-height:30px;text-decoration:none}.idreambookslegend{font-size:small}a.reviewlink,a.reviewlink:visited{text-decoration:none;color:#000;font-weight:400}.idreambookssummary a{color:#707070;text-decoration:none}.idbresult img,.idreambookssummary img{vertical-align:middle}.idbresult{color:#29ADE4;text-align:center;margin:.5em;padding:.5em}.idbresult a,.idbresult a:visited{text-decoration:none;color:#29ADE4}.idbresult img{padding-right:6px}.js-show{display:none}.modal-nojs .modal-footer,.modal-nojs .modal-header{display:none}.contents{width:75%}.contentblock{font-size:95%;line-height:135%;position:relative;margin-left:2em}.contents .t:first-child:before{content:"→ "}.contents .t:before{content:"\A → ";white-space:pre}.contents .t{font-weight:700;display:inline}.contents .r{display:inline}.m880{display:block;text-align:right;float:right;width:50%;padding-left:20px}#memberentry-form input.error{border-color:#c00;box-shadow:0 1px 1px #c00 inset,0 0 8px #c00;color:red;outline:0 none}#memberentry-form input.error:focus{border-color:#c00;box-shadow:0 1px 1px #c00 inset,0 0 8px #c00;color:red;outline:0 none}#memberentry-form label.error{color:#c00;float:none;font-size:90%}#illrequests .illrequest-actions{padding-top:20px;margin-bottom:20px}#illrequests .illrequest-actions .btn,#illrequests .illrequest-actions .cancel{margin-right:5px}#illrequests #illrequests-create-button{margin-bottom:20px}#illrequests .bg-info{overflow:auto;position:relative}#illrequests .bg-info #search-summary{-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);position:absolute;top:50%}#illrequests #freeform-fields .custom-name{float:left;width:8em;margin-right:1em;text-align:right}#illrequests .dropdown:hover .dropdown-menu.nojs{display:block}#dc_fieldset{border:1px solid #ddd;border-width:1px;padding:5px;border-radius:10px}.label_dc{display:inline;padding:0;margin:0;cursor:pointer}.btn-danger{color:#fff!important}.count_label{background-color:#369;border-radius:5px;color:#FFF;display:inline-block;font-weight:700;min-width:1.5em;padding:.2em;text-align:center;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.count_label:hover{background-color:#69c}.user_fines_count,.user_overdues_count{background-color:#900}.user_fines_count:hover,.user_overdues_count:hover{background-color:#c00}.user_holds_waiting_count{background-color:#538200}.user_holds_waiting_count:hover{background-color:#74b500}#user_summary{border:1px solid #EAEAE6;border-radius:7px;margin-bottom:1em;padding-bottom:.5em}#user_summary h3{background-color:#EAEAE6;border-top-left-radius:6px;border-top-right-radius:6px;box-shadow:0 1px 1px 0 rgba(0,0,0,.2);margin-top:0;padding:.2em 0;text-align:center}#user_summary ul{list-style-type:none;margin:0 0 .2em 0}#user_summary ul a{display:block;font-weight:700;padding:.2em 1em}
@media only screen and (min-width:0px) and (max-width:304px){#oh:after{content:"(min-width: 0px) and (max-width: 304px)"}
    input,select,textarea{width:auto;max-width:11em}}
@media only screen and (min-width:0px) and (max-width:390px){#oh:after{content:"(min-width: 0px) and (max-width: 390px)"}
    .statictabs li a,.ui-tabs .ui-tabs-nav li a{padding:.1em .5em}
    .input-fluid{width:90%}}
@media only screen and (min-width:305px) and (max-width:341px){#oh:after{content:"(min-width: 305px) and (max-width: 341px)"}}
@media only screen and (min-width:342px) and (max-width:479px){#oh:after{content:"(min-width: 342px) and (max-width: 479px)"}
    .input-fluid{width:75%}.searchsuggestion{display:block}}@media (max-width:979px){.navbar-fixed-bottom,.navbar-fixed-top{position:fixed;margin-left:0;margin-right:0}}
@media only screen and (max-width:608px){fieldset.rows label{display:block;float:none;text-align:left}fieldset.rows li{padding-bottom:.5em}fieldset.rows ol{margin-left:0}fieldset.rows .hint{margin-left:0}body{padding:0}.tdlabel{display:inline}.navbar-fixed-top,.navbar-static-top{margin:0;border-bottom: #d1d1d1 solid 1px;}.navbar-inner{padding:0}#remove-selected,#selections-toolbar,.checkall,.clearall,.highlight_controls,.list-actions,.selectcol{display:none}.table td.bibliocol{padding-left:1.3em}.actions{display:block}.actions #login4tags,.actions a{background-color:#F2F2EF;border:1px solid #DDD;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-weight:700;display:block;font-size:120%;margin:2px 0}.actions .label{display:block;font-weight:700}.actions #login4tags{margin-right:1em}
    #opac-main-search .librarypulldown .transl1,
    #opac-main-search button,#opac-main-search input,
    #opac-main-search select{
        box-sizing:border-box;
        display:block;
        height:30px;
        width:97%;
        max-width:100%;
        margin:.5em 1%;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px}
    #opac-main-search .input-append{margin:0;width:100%}#opac-main-search .librarypulldown .transl1{width:94.5%}#toolbar .resort{font-size:14px;max-width:100%;margin:.5em 0;padding:4px 6px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
    .mastheadsearch{margin:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.main{margin:.5em 0;padding:15px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.breadcrumb{margin:10px 0}#moresearches{text-align:center}#searchsubmit{font-weight:700}#topissues .item-thumbnail,#usersuggestions .item-thumbnail,#usertags .item-thumbnail,.tabs-container .item-thumbnail,.ui-tabs-panel .item-thumbnail{margin:.5em 0 0 .5em}#topissues .table-bordered,#usersuggestions .table-bordered,#usertags .table-bordered,.tabs-container .table-bordered,.ui-tabs-panel .table-bordered{border:none}#topissues .table th,#topissues .table thead,#usersuggestions .table th,#usersuggestions .table thead,#usertags .table th,#usertags .table thead,.tabs-container .table th,.tabs-container .table thead,.ui-tabs-panel .table th,.ui-tabs-panel .table thead{display:none}#topissues .table td,#usersuggestions .table td,#usertags .table td,.tabs-container .table td,.ui-tabs-panel .table td{border-right:1px solid #ddd;border-left:1px solid #ddd;border-top:0;display:block;padding:.2em}#topissues .table p,#usersuggestions .table p,#usertags .table p,.tabs-container .table p,.ui-tabs-panel .table p{margin-bottom:2px}#topissues tr,#usersuggestions tr,#usertags tr,.tabs-container tr,.ui-tabs-panel tr{display:block;margin-bottom:.6em}#topissues tr td:first-child,#usersuggestions tr td:first-child,#usertags tr td:first-child,.tabs-container tr td:first-child,.ui-tabs-panel tr td:first-child{border-top:1px solid #ddd;border-radius:5px 5px 0 0}#topissues tr td:last-child,#usersuggestions tr td:last-child,#usertags tr td:last-child,.tabs-container tr td:last-child,.ui-tabs-panel tr td:last-child{border-radius:0 0 5px 5px;border-bottom:2px solid #CACACA}.no-image{display:none}}@media only screen and (max-width:700px){#opac-main-search label{display:none}
 #logo{
     background:transparent url(../lib/bootstrap/img/glyphicons-halflings-white.png) no-repeat;
     background-position:0 -24px;
     margin:14px 14px 0 14px;width:14px;
     background-color:#aaaaaa;
 }
#logo a{padding:14px 0 0;width:14px}
#user-menu-trigger{display:inline;margin-right:12px}#members{display:none;clear:both}
    #members li{padding-right:20px;text-align:right;border-bottom:1px solid #aaa}
    #members li:first-child{border-top:1px solid #aaa}#members li:last-child{border-bottom:none}
    #members .nav{float:none}#members .nav.pull-right{float:none}#members .nav>li{float:none}#members .divider-vertical{border:0;height:0;margin:0}}@media only screen and (min-width:480px) and (max-width:608px){#oh:after{content:" Between 480 pixels and 608 pixels. "}.input-fluid{width:75%}}@media only screen and (min-width:608px){#views{border-bottom:1px solid #D6D6D6;margin:0;padding:0;white-space:nowrap}.view{border-radius:0;border-right-width:0;border-top-width:0;border-bottom-width:0}.current-view{border:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}}@media only screen and (min-width:608px) and (max-width:767px){#oh:after{content:" Between 608 pixels and 767 pixels. "}.main{padding:.8em 20px}.breadcrumb{margin:10px 0}.navbar-static-bottom{margin-left:-20px;margin-right:-20px}.row-fluid input.span6{width:48.9362%}}@media only screen and (max-width:767px){a.title{font-size:120%}#userresults{margin:0 -20px}#top-pages,.breadcrumb,.menu-collapse{display:none}#menu,#search-facets{margin-bottom:.5em}#menu h4,#search-facets h4{display:block;margin:0;padding:0}#menu h4 a,#search-facets h4 a{-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;border-bottom:0;font-weight:400;padding:.7em .2em}#menu ul,#search-facets ul{padding:0}#menu li a{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border:0;display:block;font-size:120%;text-decoration:none;border-bottom:1px solid #D8D8D8;margin:0}#menu li.active a{border-top:1px solid #D8D8D8;border-right-width:1px}#menu li:last-child a{-webkit-border-radius:0 0 7px 7px;-moz-border-radius:0 0 7px 7px;border-radius:0 0 7px 7px}#search-facets li{padding:.4em}#search-facets h5{margin:.2em}#menu h4 a.menu-open,#search-facets h4 a.menu-open{-webkit-border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;border-radius:7px 7px 0 0;border-bottom:1px solid #D8D8D8}}@media only screen and (max-width:800px){.cartlabel,.listslabel{display:none}.navbar .divider-vertical{margin:0 2px}.navbar #members .divider-vertical{margin:0 9px}}@media only screen and (min-width:768px){.main{margin-left:20px;margin-right:20px}#menu{border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border-right:1px solid #D8D8D8}#menu h4{display:none}#menu ul{padding:1em 0 1em 0}#didyoumean{margin:0}.searchsuggestion{white-space:nowrap}}@media only screen and (min-width:768px) and (max-width:984px){#oh:after{content:" Between 768 and 984 pixels. "}.librarypulldown .transl1{width:38%}}@media only screen and (min-width:984px){#oh:after{content:" Above 984 pixels. "}.librarypulldown .transl1{width:53%}}@media only screen and (max-width:1040px){.pg_menu li a{float:none;text-align:left}.pg_menu li.back_results a{border:1px solid #D0D0D0;border-width:1px 0 1px 0}#ulactioncontainer{min-width:0}}



#wrap .noprint .navbar-inner{
    background: #ffffff;
    border: 0;
}


.navbar-inverse .navbar-text{
    margin-left: 20px;
}
.navbar-inverse .nav>li>a:active , .navbar-inverse .nav>li>a:hover, .navbar-inverse .nav>li>a:focus{
    color: #000000;
}
.navbar-inverse .nav>li>a:active .caret , .navbar-inverse .nav>li>a:hover .caret, .navbar-inverse .nav>li>a:focus .caret{
    color: #000000;
}
.shumu{
    background:transparent url(../images/shumu.png) no-repeat scroll 0;
    width: 12px;
}
.shujia{
    background:transparent url(../images/shujia.png) no-repeat scroll 0;
    width: 16px;
}
a.login-links{color:#000000;}

.btn-success,.btn-success:hover,.btn-success:active{
    background: none;
    background: #60b6e6;
}
.table th{
    padding: 10px 5px;
}
 .btn[type='submit']{
    background:#60b6e6;
    color: #ffffff;
    border-color:#60b6e6;
    text-align: center;
     text-shadow:none;
}
#masthead_search option:hover{
    background:#60b6e6;
    color: #ffffff;
}
