<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel ="stylesheet" type =" text/css" href ="/static/easyui-1.8.6/themes/metroblue/easyui.css">
    <link rel ="stylesheet" type ="text/css" href ="/static/easyui-1.8.6/themes/icon.css">
    <script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.min.js"> </script>
    <script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.easyui.min.js"></script>
    <script type=" text/javascript" src="/static/easyui-1.8.6/locale/easyui-lang-zh_CN.js"></script>
</head>
<style>
    #ridio .textbox-label{
        width: 20px;
    }
    #tb .textbox-label{
        width: 150px;
    }
    #right .textbox easyui-fluid{
        width: 200px;
    }
</style>
<body>
<div style="margin-left:20px;margin-bottom:10px;margin-top:50px"  >
    <select id="year_url" class="easyui-combobox" name="yearUrlId" style="width:300px;" label="请选择查看范围：">
        <option value="all" >[[${yearValue}]]全校总和</option>
        <option value="single" >[[${yearValue}]]个人</option>
        <option   th:each="departmentInformation : ${departmentInformations}" th:value="${departmentInformation.id}" th:text="${departmentInformation.name}">
        </option>
    </select>
</div>
<table id="dg" title="核心表" class="easyui-datagrid" style="width:100%;"

       th:url="@{'/totalManage/queryScoringResultCollege/'+${tableName}+'?year='+${yearValue}}"
       toolbar="#tb" pagination="true"
       rownumbers="true" fitColumns="true" singleSelect="true" >
    <thead>
    <tr>

        <th th:each="column : ${tableColumn}" th:field="${column.create_table_column}" th:text="${column.create_table_chinese_column}" width="10%"></th>
    </tr>
    <!--  <tr>
         <th field="serial_number" width="4%" >指标序号</th>
         <th field="assessment_classification" width="6%">考核分类</th>
         <th field="second_lever" width="15%">二级指标</th>
         <th field="third_level" width="15%">三级指标</th>
         <th field="fourth_level" width="15%">四级指标</th>
         <th field="five_level" width="15%">五级指标</th>
         <th field="grade" width="16%">等级</th>
         <th field="num" width="8%">数量</th>
         <th field="goal" width="8%">得分</th>
         <!--<th field="unit_measurement" width="8%">选择范围</th>
     </tr>-->
    </thead>
</table>
<!--</div>-->
<div id="tb" style="padding:2px 5px;">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newTable()">新增</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editTable()">编辑</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyTable()">删除</a>
    <div style="float: right;">
        <input id="nameDept" class="easyui-textbox"  label="选择范围:" style="width:400px;">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="load()">Search</a>
    </div>
    <input id="tableName" type="hidden" th:value="${tableName}">
    <input id="yearValue" type="hidden" th:value="${yearValue}">
</div>
<div id="dlg" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
    <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
        <!--<h3>字段翻译信息</h3>-->
        <!--<div style="margin-bottom:10px">-->
        <!--<input name="create_table_name" class="easyui-textbox" label="表名:" disabled="true" style="width:100%">-->
        <!--</div>-->
        <!--<div style="margin-bottom:10px">-->
        <!--<input name="create_table_column" class="easyui-textbox" label="表字段:" disabled="true" style="width:100%">-->
        <!--</div>-->
        <!--<div style="margin-bottom:10px">-->
        <!--<input name="create_table_chinese_column" class="easyui-textbox" required="true" label="字段中文名:" missingMessage="字段中文名不能为空" style="width:100%">-->
        <!--</div>-->
        <!--<div style="margin-bottom:10px">-->
        <!--<input name="is_need" class="easyui-textbox" label="是否需要:"  style="width:100%">-->
        <!--</div>-->
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>
<script type="text/javascript">
    function load() {
        var nameDept = $("#nameDept").val();
        $('#dg').datagrid('load', {
            unit_measurement: nameDept
        });
    }

</script>
<script type="text/javascript">
    $('#year_url').combobox({
        onChange:function(n,o){
            urlyear=$('#year_url').combobox('getValue');
            console.log(urlyear);
            var tn = document.getElementById("tableName").getAttribute("value");
            var yv = document.getElementById("yearValue").getAttribute("value");
            window.open('/totalManage/queryScoringResult1/'+tn+'?year='+yv+'&yearUrlId='+urlyear,"_self"); //打开连接方式
        }}
    )
</script>
</body>
</html>