<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
<link rel ="stylesheet" type =" text/css" href ="/static/easyui-1.8.6/themes/metroblue/easyui.css">
	<link rel ="stylesheet" type ="text/css" href ="/static/easyui-1.8.6/themes/icon.css">
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.min.js"> </script> 
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.easyui.min.js"></script>
    <script type=" text/javascript" src="/static/easyui-1.8.6/locale/easyui-lang-zh_CN.js"></script>
</head>
<style>
    #toolbar .textbox-label{
        width: 150px;
    }
</style>
<body>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="getdataList()">获取表格数据</a>
   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" id="exportDataList" onclick="exportDataList()">导出EXCEL数据</a>

<div th:each="tableOne : ${tableList}">
<p>--审核进行中----[[${tableOne.create_table_chinese_name}]]</p>
 <table  th:title="${tableOne.create_table_chinese_name}" class="easyui-datagrid" style="width:100%;"
       pagination="true" toolbar="#toolbar"
         th:url=" @{'/PastYear/getStaticsTableList/'+${tableOne.create_table_english_name}+'?year='+${yearValue}}"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th th:each="column : ${tableOne.tableColumn}" th:field="${column.create_table_column}" th:text="${column.create_table_chinese_column}" width="10%"></th>
    </tr>
    </thead>
</table> 
</div>

<script type="text/javascript" th:inline="javascript">
var dataList=[];
$(function(){
	if(dataList.length==0){

		$("#exportDataList").linkbutton('disable');
	}
})
var tableList=[[${tableList}]];

function getdataList(){
	dataList=[];
	if(tableList.length>0){
	for(var j=0;j<tableList.length;j++){
		var tYname=tableList[j].create_table_english_name;
		var tId="#"+tableList[j].create_table_english_name;
		var tName=tableList[j].create_table_chinese_name;
		var tColumn=tableList[j].tableColumn;

		var roww = $(tId).datagrid("getData").rows;
		 if(roww.length>0){

				dataList.push({
					tableName: tYname,
					tCName :tName,
					tColumn:tColumn,
					tList:	roww
				});
		 }
	}
	}
	if(dataList.length>0){
		   $("#exportDataList").linkbutton('enable');
	}else{
		$("#exportDataList").linkbutton('disable');
		
	}
}
    
function exportDataList(){
	
	//将workbook装化成blob对象
	  function workbook2blob(workbook) {
	      // 生成excel的配置项
	      var wopts = {
	          // 要生成的文件类型
	          bookType: "xlsx",
	          // // 是否生成Shared String Table，官方解释是，如果开启生成速度会下降，但在低版本IOS设备上有更好的兼容性
	          bookSST: false,
	          type: "binary"
	      };
	      var wbout = XLSX.write(workbook, wopts);
	      // 将字符串转ArrayBuffer
	      function s2ab(s) {
	          var buf = new ArrayBuffer(s.length);
	          var view = new Uint8Array(buf);
	          for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xff;
	          return buf;
	      }
	      var blob = new Blob([s2ab(wbout)], {
	          type: "application/octet-stream"
	      });
	      return blob;
	  }

	      // 将blob对象创建bloburl，然后用a标签实现弹出下载框
	  function openDownloadDialog(blob, fileName) {
	      if (typeof blob == "object" && blob instanceof Blob) {
	          blob = URL.createObjectURL(blob); // 创建blob地址
	      }
	      var aLink = document.createElement("a");
	      aLink.href = blob;
	      // HTML5新增的属性，指定保存文件名，可以不要后缀，注意，有时候 file:///模式下不会生效
	      aLink.download = fileName || "";
	      var event;
	      if (window.MouseEvent) event = new MouseEvent("click");
	      //   移动端
	      else {
	          event = document.createEvent("MouseEvents");
	          event.initMouseEvent( "click", true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null );
	      }
	      aLink.dispatchEvent(event);
	  }
	      if(dataList.length>0){
	    	  /* create a new blank workbook */
	    	  var wb = XLSX.utils.book_new();
	    	  for(var k=0;k<dataList.length;k++){
	    		  var dd=dataList[k];
	    		  var tCName=dd.tCName;
	    		  var tColumn = dd.tColumn;
	    		  let tList=dd.tList;

				  let sheet1data =[];
					for(var j=0;j<tList.length;j++){
						var jq=tList[j];
						var crre={};
						   for(var key in jq){
								for(var l=0;l<tColumn.length;l++){
									if(key==tColumn[l].create_table_column){
										var chname=tColumn[l].create_table_chinese_column;
										createJson(crre,chname,jq[key]);
										break;
									}
								}  
					   }
						sheet1data.push(crre);
					}
	    		  var sheet1=XLSX.utils.json_to_sheet(sheet1data);
	    		  if(tName.length>30){
	    			  var l=tName.length-30;
	    			  tName= tName.substr(l,tName.length)
	    		  }
	        	  XLSX.utils.book_append_sheet(wb, sheet1, tCName);
	    	  }
	    	  // 用的例子
	    	//  let sheet1data = [ { department: "行政部", count: 2 }, { department: "前端部", count: 2 } ];
	    	  //var sheet1 = XLSX.utils.json_to_sheet(sheet1data);
	    	  //XLSX.utils.book_append_sheet(wb, sheet1, tCName);
	    	  const workbookBlob = workbook2blob(wb);
	    	  openDownloadDialog(workbookBlob, `采纳统计.xlsx`);
	      }
}
//参数：prop = 属性，val = 值
function createJson(f,prop, val) {
    // 如果 val 被忽略
    if(typeof val === "undefined") {
        // 删除属性
        delete f[prop];
    }
    else {
        // 添加 或 修改
        f[prop] = val;
    }
}
 
</script>


</body>
</html>