<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link href="/static/css/aui/aui.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/css/aui/api.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/phoneapp.css" />
	<title>项目管理</title>
</head>
<body class="wrap">
    <header class="aui-bar aui-bar-nav" id="aui-header">
<!--         <a class="aui-btn aui-pull-left" tapmode onclick="closeWin()"> -->
            <%-- <span class="aui-iconfont aui-icon-left"></span> --%>
<!--         </a> -->
        <div class="aui-title">项目管理</div>
        <a class="aui-pull-right aui-btn aui-padded-r-15" onclick="outIcon()">
             <span class="aui-iconfont aui-icon-close"></span>
        </a>
    </header>

    <section class="aui-content flex-1">
      <ul class="aui-list aui-list-in">
              <li class="aui-list-header">
               	项目管理
              </li>
              <a href="/phone/alreadyList?type=0">
              	<li class="aui-list-item">
                 <div class="aui-list-item-inner aui-list-item-arrow">项目申请阶段(${project1})</div>
              	</li>
              </a>
              <a href="/phone/alreadyList?type=1">
              <li class="aui-list-item">
                  <div class="aui-list-item-inner aui-list-item-arrow">
                      	校长办公会议阶段(${project2})
                  </div>
              </li>
              </a>
              <a href="/phone/alreadyList?type=2">
              <li class="aui-list-item">
                  <div class="aui-list-item-inner aui-list-item-arrow">
                      	校党委常委会议阶段(${project3})
                  </div>
              </li>
              </a>
              <a href="/phone/alreadyList?type=3">
              <li class="aui-list-item">
                  <div class="aui-list-item-inner aui-list-item-arrow">
                        	规划处确定项目编号阶段(${project4})
                  </div>
              </li>
              </a>

                  <a href="/phone/alreadyList?type=4">
              <li class="aui-list-item">
                  <div class="aui-list-item-inner aui-list-item-arrow">
                        	财务预算审核编号阶段(${project5})
                  </div>
              </li>
              </a>

                  <a href="/phone/alreadyList?type=5">
              <li class="aui-list-item">
                  <div class="aui-list-item-inner aui-list-item-arrow">
                        	规划项目执行监控阶段(${project6})
                  </div>
              </li>
              </a>

                  <a href="/phone/alreadyList?type=6">
              <li class="aui-list-item">
                  <div class="aui-list-item-inner aui-list-item-arrow">
                        	资产(基建)处申购单(${project7})
                  </div>
              </li>
              </a>
<!-- 
                  <a href="/phone/alreadyList?type=7">
              <li class="aui-list-item">
                  <div class="aui-list-item-inner aui-list-item-arrow">
                        	项目三级资编执行记录
                  </div>
              </li>
              </a> -->
                       <a href="/phone/alreadyList?type=8">
              <li class="aui-list-item">
                  <div class="aui-list-item-inner aui-list-item-arrow">
                        	财务报销统计
                  </div>
              </li>
              </a>
          </ul>
    </section>
    <footer class="aui-bar aui-bar-tab" id="footer">
      <div class="aui-bar aui-bar-btn aui-bar-btn-round">
    	  <a class="aui-bar-btn-item" href="/phone/monitor">监控项目</a>
          <a class="aui-bar-btn-item aui-active" href="/phone/already">项目管理</a>
      </div>
    </footer>
    <script src="/static/js/jquery-2.2.3.js" type="text/javascript"></script>
    <script src="/static/h-ui/js/H-ui.js" type="text/javascript"></script>
    <script src="/static/js/aui/api.js" type="text/javascript"></script>
    <script src="/static/js/aui/aui-dialog.js" type="text/javascript" ></script>
    <script>
       	function outIcon(){
       		var dialog = new auiDialog({});
       		dialog.alert({
                title:"提示",
                msg:'是否退出登陆',
                buttons:['确定','取消']
            },function(ret){
            	if(ret.buttonIndex==1){
            		location.href="/login/sign_out";
            	}
            })
       	}
    </script>
</body>
</html>
