<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel ="stylesheet" type =" text/css" href ="/static/easyui-1.8.6/themes/metroblue/easyui.css">
    <link rel ="stylesheet" type ="text/css" href ="/static/easyui-1.8.6/themes/icon.css">
    <script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.min.js"> </script>
    <script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.easyui.min.js"></script>
    <script type=" text/javascript" src="/static/easyui-1.8.6/locale/easyui-lang-zh_CN.js"></script>
    
    	<script src="/static/js/xlsx.core.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div >
<label>--本指标数据总揽-----</label>
</div>
</br>
<table id="statistics" class="easyui-datagrid" style="width:100%;"
       pagination="true" toolbar="#toolbar1"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th field="处理阶段" width="100px">处理阶段</th>
        <th field="总数" width="100px">总数</th>
        <th field="未提交数" width="100px">未提交数</th>
        <th field="提交数" width="100px">提交数</th>
        <th field="一审未结束数" width="100px">一审未结束数</th>
        <th field="待一审" width="100px">待一审</th>
        <th field="一审已开始" width="100px">一审已开始</th>
        <th field="一审结束数" width="100px">一审结束数</th>
        <th field="一审审定得分" width="100px">一审审定得分</th>
        <th field="二审未结束数" width="100px">二审未结束数</th>
        <th field="待二审" width="100px">待二审</th>
        <th field="二审已开始" width="100px">二审已开始</th>
        <th field="二审结束数" width="100px">二审结束数</th>
        <th field="二审审定得分" width="100px">二审审定得分</th>
    </tr>
    </thead>
</table>
<div id="toolbar1">
 <shiro:hasPermission name ="admin">
 <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="selectDataList()">获取表格数据</a>
   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" id="exportDataList" onclick="exportDataList()">导出EXCEL数据</a>
</shiro:hasPermission>
</div>

</br>

<div >
<label>--在审数据情况-----</label>
</div>
</br>
<table id="temporaryStorage"  class="easyui-datagrid" style="width:100%;"
       pagination="true" toolbar="#toolbar"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th th:each="column : ${tableColumn}" th:field="${column.create_table_column}" th:text="${column.create_table_chinese_column}" width="10%"></th>
    </tr>
    </thead>
</table>


</br>
<div >
<label>--采纳（审结）数据情况-----</label>
</div>
</br>
<table id="adopt"  class="easyui-datagrid" style="width:100%;"
        pagination="true" toolbar="#toolbar2"
        rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th th:each="column : ${tableColumn}" th:field="${column.create_table_column}" th:text="${column.create_table_chinese_column}" width="10%"></th>
    </tr>
    </thead>
</table>

<div id="toolbar2">
 <shiro:hasPermission name ="admin">
 <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="selectDataList()">获取表格数据</a>
   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" id="exportDataList" onclick="exportDataList()">导出EXCEL数据</a>
</shiro:hasPermission>
</div>


</br>

<div >
<label>--不采纳数据情况-----</label>
</div>
</br>
<table id="notAdopted"  class="easyui-datagrid" style="width:100%;"
       pagination="true" toolbar="#toolbar3"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th th:each="column : ${tableColumn}" th:field="${column.create_table_column}" th:text="${column.create_table_chinese_column}" width="10%"></th>
    </tr>
    </thead>
</table>

<div id="toolbar3">
 <shiro:hasPermission name ="admin">
 <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="selectDataList()">获取表格数据</a>
   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" id="exportDataList" onclick="exportDataList()">导出EXCEL数据</a>
</shiro:hasPermission>
</div>

<div id="toolbar">

 <shiro:hasPermission name ="一审">
    <a href="javascript:void(0)" id="firstAuditBtn" disabled class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="firstAudit()">一审审核</a>
  </shiro:hasPermission>
 <shiro:hasPermission name ="二审">
    <a href="javascript:void(0)" id="secondAuditBtn" disabled class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="secondAudit()">二审审核</a>
    </shiro:hasPermission>
 <shiro:hasPermission name ="上传数据">
    <a href="javascript:void(0)" id="editInfoBtn" disabled class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editInfo()">确认信息</a>
  </shiro:hasPermission> 
 <shiro:hasPermission name ="上传数据">
  <a href="javascript:void(0)" id="addInfoBtn"  class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addInfo()">单条申报</a>
   
   </shiro:hasPermission>
 <shiro:hasPermission name ="admin">
  <a href="javascript:void(0)" id="transferBtn" disabled class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="transferInto()">移入采纳表</a>
</shiro:hasPermission>

<shiro:hasPermission name ="admin">
	<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="selectDataList()">获取表格数据</a>
   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" id="exportDataList" onclick="exportDataList()">导出EXCEL数据</a>
 </shiro:hasPermission>
 
<!-- 选择文件上传 生成模板 下载模板  --> 
<shiro:hasPermission name ="admin">
<form id="importFileForm" method="post" enctype="multipart/form-data">
<table style="margin-left:30px;margin-top:15px;height:70px;">
 <tr>
      <td></td>      
      <td><input class="easyui-filebox" id="fileImport" name="fileImport" data-options="prompt:'选择上传文件'" style="width:250px;height:25px;"></td>            
      <td colspan="4">
         		         
       <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="importFileClick()" href="javascript:void(0)"><spring:message code="gafdataentrytxt.upload"/>批量申报导入</a>  
       <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="export_excleClick()" href="javascript:void(0)"><spring:message code="gafdataentrytxt.upload"/>生成模板</a>
       <a href="javascript:void(0)" class="easyui-linkbutton"  plain="true" id="exportDataList" onclick="exportDataList()">下载模板</a>
       <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="importupdateFileClick()" href="javascript:void(0)"><spring:message code="gafdataentrytxt.upload"/>导入审核数据</a>	
	    </td>            
            </tr>
            <tr>
                <td>  </td>
                <td colspan="2"><label id="fileName"></label></td>
                <td> <label id="uploadInfo"></label></td>
            </tr>
            <tr>
            </tr>
</table>
</form>
</shiro:hasPermission>

<div id="dlg" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
    <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
        <div style="margin-bottom:10px" th:each="column : ${tableColumn}" >
            <input th:if="${column.is_need} eq 1" th:name="${column.create_table_column}" th:label="${column.create_table_chinese_column}" class="easyui-textbox" required="true"  missingMessage="学院不能为空" style="width:100%">
        </div>
    </form>
</div>

<div id="dlg-buttons">
    <a href="javascript:void(0)" id="informationSubmit" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="submit()" style="width:90px">提交信息</a>
    <a href="javascript:void(0)" id="informationSave" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="save()" style="width:90px">保存信息</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>
<div id="auditdlg" class="easyui-dialog" style="width:600px" data-options="closed:true,modal:true,border:'thin',buttons:'#auditdlg-buttons'">
    <form id="auditfm" method="post" novalidate style="margin:0;padding:20px 50px">
        <div style="margin-bottom:10px">
            <select id="first_approval_level" class="easyui-combobox" required="true"  label="一审审定等级:" missingMessage="一审审定等级不能为空" labelwidth="120px" name="first_approval_level" style="width:100%;">
                <option th:each="ass : ${assementIndex}" th:value="${ass.text}" th:text="${ass.text}"></option>
            </select>
        </div>
        <div  style="margin-bottom:10px">
            <select id="approval_scoreof_first" class="easyui-combobox" required="true"  label="一审审定等级:" missingMessage="一审审定等级不能为空" labelwidth="120px" name="approval_scoreof_first" style="width:100%;">
                <option th:each="score : ${assementScore}" th:value="${score.text}" th:text="${score.text}"></option>
            </select>
        </div>
        <div  style="margin-bottom:10px">
            <input id="remarks_first" class="easyui-textbox" name="remarks_first"    label="一审备注:" missingMessage="一审审定得分不能为空" labelwidth="120px" style="width:100%">
        </div>
    </form>
</div>
<div id="auditdlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="firstTemporaryStore()" style="width:90px">暂存数据</a>
    <shiro:hasPermission name ="提交审核数据">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="submitAudit()" style="width:90px">提交审核</a>
    </shiro:hasPermission>
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-back" onclick="backToModify(1)" style="width:90px">退回修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#auditdlg').dialog('close')" style="width:90px">取消</a>
</div>
<div id="secondauditdlg" class="easyui-dialog" style="width:600px" data-options="closed:true,modal:true,border:'thin',buttons:'#secondauditdlg-buttons'">
    <form id="secondauditfm" method="post" novalidate style="margin:0;padding:20px 50px">
        <div style="margin-bottom:10px">
            <!--<input name="secondApprovalLevel" class="easyui-combobox" required="true" data-options="valueField:'id',textField:'text',url:'/innovationteam/teamBuildingSelect'" label="二审审定等级:" missingMessage="二审审定等级不能为空" style="width:100%">-->
            <select id="second_approval_level" class="easyui-combobox" required="true"  label="一审审定等级:" missingMessage="一审审定等级不能为空" labelwidth="120px" name="second_approval_level" style="width:100%;">
                <option th:each="ass : ${assementIndex}" th:value="${ass.text}" th:text="${ass.text}"></option>
            </select>
        </div>
        <div  style="margin-bottom:10px">
            <select id="approval_scoreof_second" class="easyui-combobox" required="true" label="二审审定等级:" missingMessage="二审审定等级不能为空" labelwidth="120px" name="approval_scoreof_second" style="width:100%;">
                <option th:each="score : ${assementScore}" th:value="${score.text}" th:text="${score.text}"></option>
            </select>
        </div>
        <div  style="margin-bottom:10px">
            <input id="remarks_second" class="easyui-textbox" name="remarks_second"    label="二审备注:" labelwidth="120px" missingMessage="二审审定得分不能为空" style="width:100%">
        </div>
    </form>
</div>
<div id="secondauditdlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="secondTemporaryStore()" style="width:90px">暂存数据</a>
    <shiro:hasPermission name ="提交审核数据">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="submitSecondAudit()" style="width:90px">提交审核</a>
    </shiro:hasPermission>
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-back" onclick="backToFirstAudit()" style="width:90px">退回一审</a>
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-back" onclick="backToModify(2)" style="width:90px">退回修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#secondauditdlg').dialog('close')" style="width:90px">取消</a>
</div>

<script type="text/javascript" th:inline="javascript">
    var url;
    var t =[[${tableName}]];
    var yearValue =[[${yearValue}]];
 
    
  //关闭导入弹出窗口
    function closeImportClick(){
  	  $('#fileImport').filebox('setValue','');
        document.getElementById('fileImport').value = null;
        document.getElementById('fileName').innerHTML = "";
        document.getElementById('uploadInfo').innerHTML = "";
        $('#dd').dialog('close');
    }
    
    //导入文件
     function importFileClick()
    {   
  	  console.log([[${tableName}]])
  	  var ntableName=[[${tableName}]];
  	if(ntableName=="" || ntableName==undefined){
		 
		 return $.messager.alert("提示", "请选择一个表", "error");
	 }
        var file = $('input[name="fileImport"][type="file"]').prop('files')[0];
        //判断控件中是否存在文件内容，如果不存在，弹出提示信息，阻止进一步操作
       if (file == null) { alert('错误，请选择文件'); return; }
        //获取文件名称
        var fileName = file.name;
        //获取文件类型名称
        var file_typename = fileName.substring(fileName.lastIndexOf('.'), fileName.length);
        //这里限定上传文件文件类型必须为.xlsx，如果文件类型不符，提示错误信息
        if (file_typename == '.xlsx'||file_typename == '.xls')
        {
            //计算文件大小
            var fileSize = 0;
            //如果文件大小大于1024字节X1024字节，则显示文件大小单位为MB，否则为KB
            if (file.size > 1024 * 1024) {
  　　　　　　　　fileSize = Math.round(file.size * 100 / (1024 * 1024)) / 100;

  　　　　　　　if (fileSize > 10) {
                     alert('错误，文件超过10MB，禁止上传！'); return;
                }
  　　　　　　　fileSize = fileSize.toString() + 'MB';
            }
            else {
                fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
            }
            //将文件名和文件大小显示在前端label文本中
            document.getElementById('fileName').innerHTML = "<span style='color:Blue'>文件名: " + file.name + ',大小: ' + fileSize + "</span>";
            //获取form数据
            var formData = new FormData($("#importFileForm")[0]);
            //调用apicontroller后台action方法，将form数据传递给后台处理。contentType必须设置为false,否则chrome和firefox不兼容
            $.ajax({
                url:"/excelImport/importExcel?year="+yearValue+"&tableName="+ntableName,
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returnInfo) {
              	  console.log(returnInfo.msg);
              	  if(returnInfo.code==200){
              		    //上传成功后将控件内容清空，并显示上传成功信息
                        document.getElementById('fileImport').value = null;
                        document.getElementById('uploadInfo').innerHTML = "<span style='color:Red'>" + returnInfo.msg + "</span>";
                    
              	  }else{
              		  document.getElementById('uploadInfo').innerHTML = "<span style='color:Red'>" + returnInfo.msg + "</span>";
                        
              	  }
                 },
                error: function (returnInfo) {
                    //上传失败时显示上传失败信息
                    document.getElementById('uploadInfo').innerHTML = "<span style='color:Red'>" + returnInfo.msg + "</span>";
                }
            });
        }
        else {
            alert("文件类型错误");
              //将错误信息显示在前端label文本中
              document.getElementById('fileName').innerHTML = "<span style='color:Red'>错误提示:上传文件应该是.xlsx,您现在上传的后缀应该是" + file_typename + ",请重新选择文件</span>"
        }
    }
    
    
     //导入更新文件
     function importupdateFileClick()
    {   
    	 var ntableName=[[${tableName}]];
			if(ntableName=="" || ntableName==undefined){
			 
			 return $.messager.alert("提示", "请选择一个表", "error");;
		 }
        var file = $('input[name="fileImport"][type="file"]').prop('files')[0];
        //判断控件中是否存在文件内容，如果不存在，弹出提示信息，阻止进一步操作
       if (file == null) { alert('错误，请选择文件'); return; }
        //获取文件名称
        var fileName = file.name;
        //获取文件类型名称
        var file_typename = fileName.substring(fileName.lastIndexOf('.'), fileName.length);
        //这里限定上传文件文件类型必须为.xlsx，如果文件类型不符，提示错误信息
        if (file_typename == '.xlsx'||file_typename == '.xls')
        {
            //计算文件大小
            var fileSize = 0;
            //如果文件大小大于1024字节X1024字节，则显示文件大小单位为MB，否则为KB
            if (file.size > 1024 * 1024) {
  　　　　　　　　fileSize = Math.round(file.size * 100 / (1024 * 1024)) / 100;

  　　　　　　　if (fileSize > 10) {
                     alert('错误，文件超过10MB，禁止上传！'); return;
                }
  　　　　　　　fileSize = fileSize.toString() + 'MB';
            }
            else {
                fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
            }
            //将文件名和文件大小显示在前端label文本中
            document.getElementById('fileName').innerHTML = "<span style='color:Blue'>文件名: " + file.name + ',大小: ' + fileSize + "</span>";
            //获取form数据
            var formData = new FormData($("#importFileForm")[0]);
            //调用apicontroller后台action方法，将form数据传递给后台处理。contentType必须设置为false,否则chrome和firefox不兼容
            $.ajax({
                url:"/excelImport/importUpdate?year="+yearValue+"&tableName="+ntableName,
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returnInfo) {
              	  console.log(returnInfo.msg);
              	  if(returnInfo.code==200){
              		    //上传成功后将控件内容清空，并显示上传成功信息
                        document.getElementById('fileImport').value = null;
                        document.getElementById('uploadInfo').innerHTML = "<span style='color:Red'>" + returnInfo.msg + "</span>";
                        $('#temporaryStorage').datagrid('reload');
              	  }else{
              		  document.getElementById('uploadInfo').innerHTML = "<span style='color:Red'>" + returnInfo.msg + "</span>";
                        
              	  }
                 },
                error: function (returnInfo) {
                    //上传失败时显示上传失败信息
                    document.getElementById('uploadInfo').innerHTML = "<span style='color:Red'>" + returnInfo.msg + "</span>";
                }
            });
        }
        else {
            alert("文件类型错误");
              //将错误信息显示在前端label文本中
              document.getElementById('fileName').innerHTML = "<span style='color:Red'>错误提示:上传文件应该是.xlsx,您现在上传的后缀应该是" + file_typename + ",请重新选择文件</span>"
        }
    }
     
     var dataList=[];
     var tName="";
     function export_excleClick(){
   	 var ttname= [[${tableName}]];
 		if(ttname=="" || ttname==undefined){
		 
		 return $.messager.alert("提示", "请选择一个表", "error");;
	 }
   	$.post("/excelImport/export_excle",{
   		tableName:
   			[[${tableName}]],
   		year: yearValue
   		},function(res){
   			$.messager.alert("提示","模板生成成功");
   			dataList=res.list;
   			tName=res.tName;
   	})
     }
   //数据查询
     function selectDataList(){
    	 var ntableName=[[${tableName}]];
    	
     	$.post("/excelImport/exportTbData",{
     		tableName:
     			ntableName,
     			year: yearValue
     		},function(res){
     			console.log(res);
     			$.messager.alert("提示", "查询成功");

     			dataList=res.list;
     			tName=res.tName;
     	})
     }
     function exportDataList(){
   		
   		//将workbook装化成blob对象
   		  function workbook2blob(workbook) {
   		      // 生成excel的配置项
   		      var wopts = {
   		          // 要生成的文件类型
   		          bookType: "xlsx",
   		          // // 是否生成Shared String Table，官方解释是，如果开启生成速度会下降，但在低版本IOS设备上有更好的兼容性
   		          bookSST: false,
   		          type: "binary"
   		      };
   		      var wbout = XLSX.write(workbook, wopts);
   		      // 将字符串转ArrayBuffer
   		      function s2ab(s) {
   		          var buf = new ArrayBuffer(s.length);
   		          var view = new Uint8Array(buf);
   		          for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xff;
   		          return buf;
   		      }
   		      var blob = new Blob([s2ab(wbout)], {
   		          type: "application/octet-stream"
   		      });
   		      return blob;
   		  }

   		      // 将blob对象创建bloburl，然后用a标签实现弹出下载框
   		  function openDownloadDialog(blob, fileName) {
   		      if (typeof blob == "object" && blob instanceof Blob) {
   		          blob = URL.createObjectURL(blob); // 创建blob地址
   		      }
   		      var aLink = document.createElement("a");
   		      aLink.href = blob;
   		      // HTML5新增的属性，指定保存文件名，可以不要后缀，注意，有时候 file:///模式下不会生效
   		      aLink.download = fileName || "";
   		      var event;
   		      if (window.MouseEvent) event = new MouseEvent("click");
   		      //   移动端
   		      else {
   		          event = document.createEvent("MouseEvents");
   		          event.initMouseEvent( "click", true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null );
   		      }
   		      aLink.dispatchEvent(event);
   		  }
   		      if(dataList.length>0){
   		    	  /* create a new blank workbook */
   		    	  var wb = XLSX.utils.book_new();

   					  let sheet1data =dataList;
   		
   		    		  var sheet1=XLSX.utils.json_to_sheet(sheet1data);

   		        	  XLSX.utils.book_append_sheet(wb, sheet1, tName);

   		    	  const workbookBlob = workbook2blob(wb);
   		    	  openDownloadDialog(workbookBlob, tName+`.xlsx`);
   		      }
   	}
   	//参数：prop = 属性，val = 值
   	function createJson(f,prop, val) {
   	    // 如果 val 被忽略
   	    if(typeof val === "undefined") {
   	        // 删除属性
   	        delete f[prop];
   	    }
   	    else {
   	        // 添加 或 修改
   	        f[prop] = val;
   	    }
   	}    
     
    var map={};

     $('#temporaryStorage').datagrid({
         url:'/PastYear/getTableList',
         type:"get",
         dataType:"json",
         queryParams: {
             tableName: [[${tableName}]],
             map : JSON.stringify(map),
             year : yearValue
        },
         onSelect: function (index,row) {

             if(row.hasOwnProperty("nameof_submitted")&&row.nameof_submitted!=""){
                 $("#firstAuditBtn").linkbutton('enable');
                 $("#editInfoBtn").linkbutton('disable');
                 $("#secondAuditBtn").linkbutton('disable');
                 $("#transferBtn").linkbutton('disable');
             }else{
                 $("#firstAuditBtn").linkbutton('disable');
                 $("#secondAuditBtn").linkbutton('disable');
                 $("#transferBtn").linkbutton('disable');
                 $("#editInfoBtn").linkbutton('enable');
             }
             if(row.hasOwnProperty("approval_scoreof_first")&&row.approval_scoreof_first!=""&&row.hasOwnProperty("time_last_trial")&&row.time_last_trial!=""){
                 $("#firstAuditBtn").linkbutton('disable');
                 $("#secondAuditBtn").linkbutton('enable');
                 $("#transferBtn").linkbutton('disable');
                 $("#editInfoBtn").linkbutton('disable');
             }
             if(row.hasOwnProperty("approval_scoreof_second")&&row.approval_scoreof_second!=""&&row.hasOwnProperty("time_final_second")&&row.time_final_second!=""){
                 $("#secondAuditBtn").linkbutton('disable');
                 $("#transferBtn").linkbutton('enable');
                 $("#firstAuditBtn").linkbutton('disable');
                 $("#editInfoBtn").linkbutton('disable');
             }
         }
     });
    $('#adopt').datagrid({
        url:'/PastYear/getTableList',
        type:"get",
        dataType:"json",
        queryParams: {
            tableName: [[${tableName1}]],
            map : JSON.stringify(map),
            year : yearValue
        }
    });
    $('#notAdopted').datagrid({
        url:'/PastYear/getTableList',
        type:"get",
        dataType:"json",
        queryParams: {
            tableName: [[${tableName2}]],
            map : JSON.stringify(map),
            year : yearValue
        }
    });
    $('#statistics').datagrid({
        url:'/PastYear/getDataStatistics',
        type:"get",
        dataType:"json",
        queryParams: {
            tableName: [[${tableName}]],
            tableName1: [[${tableName1}]],
            tableName2: [[${tableName2}]],
            year : yearValue
        }
    });
    //编辑信息
    function editInfo(){
        var row = $('#temporaryStorage').datagrid('getSelected');
        if (row){
            $("#informationSubmit").css("display","");
            $('#dlg').dialog('open').dialog('center').dialog('setTitle','修改信息');
            $('#fm').form('load',row);
            url = '/PastYear/update?id='+row.id+"&tableName="+[[${tableName}]]+"&year="+yearValue;
        }
    }
    //单条申报
    function addInfo(){
        $('#fm').form('clear');
        $("#informationSubmit").css("display","none");
        $('#dlg').dialog('open').dialog('center').dialog('setTitle','新增创新团队');
        url = '/PastYear/add?tableName='+[[${tableName}]]+"&year="+yearValue;
    }
    //一审评审
    function firstAudit(){
        var row = $('#temporaryStorage').datagrid('getSelected');
        if (row) {
            $('#auditfm').form('clear');
            $('#auditdlg').dialog('open').dialog('center').dialog('setTitle', '一审评分');
            $('#auditfm').form('load',row);
            url = '/PastYear/update?id='+row.id+"&tableName="+[[${tableName}]]+"&year="+yearValue;
        }
    }
    //二审评审
    function secondAudit(){
        var row = $('#temporaryStorage').datagrid('getSelected');
        if (row){
            $('#secondauditfm').form('clear');
            $('#secondauditdlg').dialog('open').dialog('center').dialog('setTitle','二审评分');
            $('#secondauditfm').form('load',row);
            url = '/PastYear/update?id='+row.id+"&tableName="+[[${tableName}]]+"&year="+yearValue;
        }
    }
    //添加和信息暂存
    function save(){
        $('#fm').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.code==0){
                	 $('#dlg').dialog('close');  
                    $('#temporaryStorage').datagrid('reload');
                    $.messager.show({
                        title: '提示',
                        msg: result.msg,
                        showType:'show',
                        style:{
                            right:'',
                            top:document.body.scrollTop+document.documentElement.scrollTop,
                            bottom:''
                        }
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $('#temporaryStorage').datagrid('reload');    // reload the user data
                    $.messager.show({
                        title: '提示',
                        msg: result.msg,
                    });
                }
            }
        });
    }
    //信息提交确认
    function submit(){
        var row = $('#temporaryStorage').datagrid('getSelected');
        $('#fm').form('submit',{
            url: '/PastYear/verifyInfomation?id='+row.id+"&tableName="+[[${tableName}]]+"&year="+yearValue,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.code==0){
                	 $('#dlg').dialog('close');  
                    $('#temporaryStorage').datagrid('reload');
                    $.messager.show({
                        title: '提示',
                        msg: result.msg,
                        showType:'show',
                        style:{
                            right:'',
                            top:document.body.scrollTop+document.documentElement.scrollTop,
                            bottom:''
                        }
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $('#temporaryStorage').datagrid('reload');    // reload the user data
                    $.messager.show({
                        title: '提示',
                        msg: result.msg,
                    });
                }
            }
        });
    }
    //一审信息暂存
    function firstTemporaryStore(){
        $('#auditfm').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.code==0){
                	 $('#auditdlg').dialog('close');  
                    $('#temporaryStorage').datagrid('reload');
                    $.messager.show({
                        title: '提示',
                        msg: result.msg,
                        showType:'show',
                        style:{
                            right:'',
                            top:document.body.scrollTop+document.documentElement.scrollTop,
                            bottom:''
                        }
                    });
                } else {
                    $('#auditdlg').dialog('close');        // close the dialog
                    $('#temporaryStorage').datagrid('reload');    // reload the user data
                    $.messager.show({
                        title: '提示',
                        msg: result.msg,
                    });
                }
            }
        });
    }
    //二审信息暂存
    function secondTemporaryStore(){
        $('#secondauditfm').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.code==0){
                    $('#secondauditdlg').dialog('close'); 
                    $('#temporaryStorage').datagrid('reload');
                    $.messager.show({
                        title: '提示',
                        msg: result.msg,
                        showType:'show',
                        style:{
                            right:'',
                            top:document.body.scrollTop+document.documentElement.scrollTop,
                            bottom:''
                        }
                    });
                } else {
                    $('#secondauditdlg').dialog('close');        // close the dialog
                    $('#temporaryStorage').datagrid('reload');    // reload the user data
                    $.messager.show({
                        title: '提示',
                        msg: result.msg,
                    });
                }
            }
        });
    }
    //一审提交
    function submitAudit(){
        url=url.split("?")[1];
        url="/PastYear/submitAudit?"+url;
        firstTemporaryStore();
    }
    //二审提交
    function submitSecondAudit(){
        url=url.split("?")[1];
        url="/PastYear/submitSecondAudit?"+url;
        secondTemporaryStore();
    }
    //退回修改
    function backToModify(auditNumber){
        var row = $('#temporaryStorage').datagrid('getSelected');
        $.post("/PastYear/backToModify",{
            id: row.id,
            submitted_jobno: row.submitted_jobno,
            nameof_submitted: row.nameof_submitted,
            tableName: [[${tableName}]],
            auditNumber: auditNumber,
            year : yearValue
        },function (result) {
            if (result.code==0){
            	 $('#dlg').dialog('close');  
                $('#temporaryStorage').datagrid('reload');
                $.messager.show({
                    title: '提示',
                    msg: result.msg,
                    showType:'show',
                    style:{
                        right:'',
                        top:document.body.scrollTop+document.documentElement.scrollTop,
                        bottom:''
                    }
                });
            } else {
                $('#dlg').dialog('close');        // close the dialog
                $('#temporaryStorage').datagrid('reload');    // reload the user data
                $.messager.show({
                    title: '提示',
                    msg: result.msg,
                });
            }
        });
    }
    //退回一审
    function backToFirstAudit(){
        var row = $('#temporaryStorage').datagrid('getSelected');
        $.post("/PastYear/backToFirstAudit",{
            id: row.id,
            number_last_reviewer: row.number_last_reviewer,
            personnel_last: row.personnel_last,
            tableName: [[${tableName}]],
            year : yearValue
        },function (result) {
            if (result.code==0){
            	 $('#secondauditdlg').dialog('close');  
                $('#temporaryStorage').datagrid('reload');
                $.messager.show({
                    title: '提示',
                    msg: result.msg,
                    showType:'show',
                    style:{
                        right:'',
                        top:document.body.scrollTop+document.documentElement.scrollTop,
                        bottom:''
                    }
                });
            } else {
                $('#secondauditdlg').dialog('close');        // close the dialog
                $('#temporaryStorage').datagrid('reload');    // reload the user data
                $.messager.show({
                    title: '提示',
                    msg: result.msg,
                });
            }
        });
    }
    //转入采纳表
    function transferInto(){
        var row = $('#temporaryStorage').datagrid('getSelected');
        $.post("/PastYear/transferInto",{
            id: row.id,
            tableName: [[${tableName}]],
            transferTableName: [[${tableName1}]],
            year : yearValue
        },function(result){
            if (result.code==0){

           	 $('#dlg').dialog('close');  
                $('#temporaryStorage').datagrid('reload');
                $('#adopt').datagrid('reload');
                $.messager.show({
                    title: '提示',
                    msg: result.msg,
                    showType:'show',
                    style:{
                        right:'',
                        top:document.body.scrollTop+document.documentElement.scrollTop,
                        bottom:''
                    }
                });
            } else {
                $('#dlg').dialog('close');        // close the dialog
                $('#temporaryStorage').datagrid('reload');    // reload the user data
                $.messager.show({
                    title: '提示',
                    msg: result.msg,
                });
            }
        });
    }
</script>
</body>
</html>