<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>菜单列表</title>
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />


<link rel ="stylesheet" type =" text/css" href ="/static/easyui-1.8.6/themes/metroblue/easyui.css">
	<link rel ="stylesheet" type ="text/css" href ="/static/easyui-1.8.6/themes/icon.css">
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.min.js"> </script> 
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.easyui.min.js"></script>

</head>
<body>
<div>
<table id="dg" title="菜单列表" class="easyui-datagrid" style="width:100%;"
    
          th:url="@{'/PastYear/getMenuList?year='+${yearValue}}"
       toolbar="#toolbar" pagination="true"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th field="id" width="80" sortable="true">编号</th>
        <th field="text" width="25%">菜单名</th>
        <th field="url" width="20%" align="left">跳转地址</th>
        <th field="orderweight" width="80" align="left" >权重值</th>
        <th field="parentId" width="200" >父级菜单编号</th>
    </tr>
    </thead>
</table>
<div id="toolbar">
<shiro:hasPermission name ="admin">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newMenu()">新增菜单</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editMenu()">编辑菜单</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyMenu()">删除菜单</a>
   </shiro:hasPermission>
    <div style="float: right;">
        <input id="nameDept" class="easyui-textbox"  label="菜单名:" style="width:400px;">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="load()">Search</a>
    </div>
</div>
 
<div id="dlg" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'" >
    <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
        <h3>菜单信息</h3>
        <div style="margin-bottom:10px">
            <input label="菜单名" class="easyui-textbox" required="true" id="menuName" name="menuName" style="width:100%">
        </div>
      
        <div style="margin-bottom:10px"  >
          <select id="menuFatherId" class="easyui-combobox" name="menuFatherId" style="width:100%;" label="父级菜单"  >
   			 <option value="0">无</option>
				 <option   th:each="menu : ${menuList}" th:value="${menu.id}" th:text="${menu.text}">无</option>
		</select>
           
        </div>
        <div style="margin-bottom:10px">
            <input label="菜单权重" class="easyui-numberbox" required="true" id="orderWeight" name="orderWeight" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input label="菜单路径" class="easyui-textbox" required="true"  id="menuUrl"  name="menuUrl" style="width:100%">
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveMenu()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>

</div>
<script th:inline="javascript">
var yearValue=[[${yearValue}]];
console.log(yearValue);
var url;
function newMenu(){
	
	$('#fm').form('clear');
    $('#dlg').dialog('open').dialog('center').dialog('setTitle','新增菜单');

    $('#menuFatherId').combobox('select', "0");
    url = '/PastYear/addMenuOne?year='+yearValue;
}
function editMenu(){
    var row = $('#dg').datagrid('getSelected');
    if (row){
        $('#dlg').dialog('open').dialog('center').dialog('setTitle','编辑菜单');
        $('#fm').form('load',
        		{
        	menuName:row.text,
        	orderWeight:row.orderweight,
        	menuUrl:row.url
        		});
       $('#menuFatherId').combobox('select', row.parentId);
        url = '/PastYear/updateMenuOne?id='+row.id+'&year='+yearValue;
     
    }
}
function saveMenu(){
    $('#fm').form('submit',{
        url: url,
        onSubmit: function(){
            return $(this).form('validate');
        },
        success: function(result){
        	 var data = eval('(' + result + ')');  
        	if(data.code===200){
                $('#dlg').dialog('close');        // close the dialog
                $('#dg').datagrid('reload');    // reload the user data
        	}else {
                $.messager.alert("提示", data.errorMsg, "error");
        	}
        }
    });
}
function destroyMenu(){
    var row = $('#dg').datagrid('getSelected');
    if (row){
        $.messager.confirm('Confirm','你确定删除吗？',function(r){
            if (r){
                $.post('/PastYear/deleteMenuOne',{id:row.id,year:yearValue},function(result){
                    if (result.code===200){
                        $('#dg').datagrid('reload');    // reload the user data
                    } else {
                    	$.messager.alert("提示", data.errorMsg, "error");
                    }
                },'json');
            }
        });
    }
}
if ($.fn.pagination) {
    $.fn.pagination.defaults.beforePageText = '第';
    $.fn.pagination.defaults.afterPageText = '共{pages}页';
    $.fn.pagination.defaults.displayMsg = '显示{from}到{to},共{total}记录';
}
function load() {
    var nameDept = $("#nameDept").val();
    $('#dg').datagrid('load', {
        name: nameDept
    });
}
</script>

</body>
</html>