<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
<link rel ="stylesheet" type =" text/css" href ="/static/easyui-1.8.6/themes/metroblue/easyui.css">
	<link rel ="stylesheet" type ="text/css" href ="/static/easyui-1.8.6/themes/icon.css">
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.min.js"> </script> 
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.easyui.min.js"></script>
    <script type=" text/javascript" src="/static/easyui-1.8.6/locale/easyui-lang-zh_CN.js"></script>
</head>
<style>
    #toolbar .textbox-label{
        width: 150px;
    }
</style>
<body>
<table id="dg" th:title="${create_table_chinese_name}" class="easyui-datagrid" style="width:100%;"
       pagination="true" toolbar="#toolbar"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th th:each="column : ${tableColumn}" th:field="${column.create_table_column}" th:text="${column.create_table_chinese_column}" width="15%"></th>
    </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">新增</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">编辑</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除</a>
<!--     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="resetPassword()">重置密码</a> -->
   <!--  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="import()">导入</a> -->
  <!--   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="getSelected()">GetSelected</a> -->
    <div style="float: right;">
        <input id="nameUser" class="easyui-textbox"  label="姓名" data-options="prompt:'输入姓名'" style="width:400px;" >
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search"  onclick="load()">Search</a>
    </div>
</div>

<div id="dlg" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
    <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
        <h3 th:text="${create_table_chinese_name}"></h3>
        <div style="margin-bottom:10px" th:each="column : ${tableColumn}">
        	
            <input th:if="${column.is_need} eq 1" th:id="${column.create_table_column}" th:name="${column.create_table_column}" class="easyui-textbox" required="true" th:label="${column.create_table_chinese_column}"  style="width:100%">
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>


<script type="text/javascript" th:inline="javascript">

var yearValue =[[${yearValue}]];
function getSelected(){
    var row = $('#dg').datagrid('getSelected');
    if (row){
        $.messager.alert('Info', row.itemid+":"+row.productid+":"+row.attr1);
    }
};
var map={};
	map.full_name=$("#nameUser").val();
$('#dg').datagrid({
    url:'/PastYear/getTableList',
    type:"get",
    dataType:"json",
    queryParams: {
    	tableName: [[${tableName}]],
        map : JSON.stringify(map),
        year : yearValue
	}
}); 
    var url;
    function newUser(){
        $('#fm').form('clear');
        $('#dlg').dialog('open').dialog('center').dialog('setTitle','新增');
        $('#id').textbox({
            disabled:true
        });
        url = '/PastYear/addOther?tableName='+[[${tableName}]]+"&year="+yearValue;
    }
    function editUser(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $('#dlg').dialog('open').dialog('center').dialog('setTitle','编辑');
      
            $('#fm').form('load',row);
            $('#id').textbox({
                disabled:true
            });
            url = '/PastYear/update?id='+row.id+"&tableName="+[[${tableName}]]+"&year="+yearValue;
        }
    }
    function saveUser(){
        $('#fm').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
               	if(result.code===0){
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the user data
            	}else {
                    $.messager.alert("提示", result.msg, "error");
            	}
            }
        });
    }
    function destroyUser(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $.messager.confirm('提示','是否确认删除用户?',function(r){
                if (r){
                    $.post('/PastYear/delete',{
                    	Id: row.id,
                    	tableName:[[${tableName}]]
                    	,year: yearValue
                    	},function(result){
                  
                        if (result.code===0){
                            $('#dg').datagrid('reload');    // reload the user data
                        } else {
                            $.messager.alert("提示", result.msg, "error");
                        }
                    },'json');
                }
            });
        }
    }
    function resetPassword(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $.messager.confirm('提示','是否重置该用户密码?',function(r){
                if (r){
                    $.post('/PastYear/user/resetPassword',{id:row.id,year: yearValue},function(result){
                        if (result.code===0){
                        	 $.messager.alert("提示", result.msg, "inf");
                            $('#dg').datagrid('reload');    // reload the user data
                        } else {
                        	$.messager.alert("提示", result.msg, "error");
                        }
                    },'json');
                }
            });
        }
    }
    function load() {
      var  map={};
        	map.full_name=$("#nameUser").val();
        $('#dg').datagrid({
            url:'/PastYear/getTableList',
            type:"get",
            dataType:"json",
            queryParams: {
            	tableName: [[${tableName}]],
                map : JSON.stringify(map),
                year : yearValue
           }
        });
    }
</script>
</body>
</html>