<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
<link rel ="stylesheet" type =" text/css" href ="/static/easyui-1.8.6/themes/metroblue/easyui.css">
	<link rel ="stylesheet" type ="text/css" href ="/static/easyui-1.8.6/themes/icon.css">
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.min.js"> </script> 
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.easyui.min.js"></script>
    <script type=" text/javascript" src="/static/easyui-1.8.6/locale/easyui-lang-zh_CN.js"></script>
    
	<script src="/static/js/xlsx.core.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<style>
    #toolbar .textbox-label{
        width: 150px;
    }
</style>
<body>
<shiro:hasPermission name ="admin,上传数据">
<form id="importFileForm" method="post" enctype="multipart/form-data">
        <table style="margin-left:30px;margin-top:15px;height:70px;">
            <tr>
                <td></td>
               	   <div style="margin-bottom:10px">
             <select id="tableName" class="easyui-combobox" name="tableName" style="width:100%;" label="导入表名:"  >
   			 
				 <option   th:each="tabled : ${tableList}" th:value="${tabled.createTableEnglishName}" th:text="${tabled.createTableChineseName}"></option>
			</select>
			</div>
            </tr>
            <tr>
                <td></td>
                <td><input class="easyui-filebox" id="fileImport" name="fileImport" data-options="prompt:'选择上传文件'" style="width:250px;height:25px;"></td>
            
                <td colspan="4">
                   
                 
                     <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="importFileClick()" href="javascript:void(0)"><spring:message code="gafdataentrytxt.upload"/>新增导入</a>
           			
           			<a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="export_excleClick()" href="javascript:void(0)"><spring:message code="gafdataentrytxt.upload"/>生成模板</a>
         			 <a href="javascript:void(0)" class="easyui-linkbutton"  plain="true" id="exportDataList" onclick="exportDataList()">下载模板</a>
            		<a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="importupdateFileClick()" href="javascript:void(0)"><spring:message code="gafdataentrytxt.upload"/>更新导入</a>
                </td>
            
            </tr>
            <tr>
                <td>  </td>
                <td colspan="2"><label id="fileName"></label></td>
                <td> <label id="uploadInfo"></label></td>
            </tr>
            <tr>
            </tr>
            
        </table>
    </form>
    </shiro:hasPermission>
<!-- 配置导入框 -->

<script type="text/javascript"  th:inline="javascript">
var yearValue=[[${yearValue}]];
//关闭导入弹出窗口
  function closeImportClick(){
	  $('#fileImport').filebox('setValue','');
      document.getElementById('fileImport').value = null;
      document.getElementById('fileName').innerHTML = "";
      document.getElementById('uploadInfo').innerHTML = "";
      $('#dd').dialog('close');
  }
  
  //导入文件
   function importFileClick()
  {   
	  
	  var ntableName=$("#tableName option:selected").val();
		 if(ntableName=="" || ntableName==undefined){
			 
			 return $.messager.alert("提示", "请选择一个表", "error");;
		 }
      var file = $('input[name="fileImport"][type="file"]').prop('files')[0];
      //判断控件中是否存在文件内容，如果不存在，弹出提示信息，阻止进一步操作
     if (file == null) { alert('错误，请选择文件'); return; }
      //获取文件名称
      var fileName = file.name;
      //获取文件类型名称
      var file_typename = fileName.substring(fileName.lastIndexOf('.'), fileName.length);
      //这里限定上传文件文件类型必须为.xlsx，如果文件类型不符，提示错误信息
      if (file_typename == '.xlsx'||file_typename == '.xls')
      {
          //计算文件大小
          var fileSize = 0;
          //如果文件大小大于1024字节X1024字节，则显示文件大小单位为MB，否则为KB
          if (file.size > 1024 * 1024) {
　　　　　　　　fileSize = Math.round(file.size * 100 / (1024 * 1024)) / 100;

　　　　　　　if (fileSize > 10) {
                   alert('错误，文件超过10MB，禁止上传！'); return;
              }
　　　　　　　fileSize = fileSize.toString() + 'MB';
          }
          else {
              fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
          }
          //将文件名和文件大小显示在前端label文本中
          document.getElementById('fileName').innerHTML = "<span style='color:Blue'>文件名: " + file.name + ',大小: ' + fileSize + "</span>";
          //获取form数据
          var formData = new FormData($("#importFileForm")[0]);
          //调用apicontroller后台action方法，将form数据传递给后台处理。contentType必须设置为false,否则chrome和firefox不兼容
          $.ajax({
              url:"/excelImport/importExcel?year="+yearValue,
              type: 'POST',
              data: formData,
              async: false,
              cache: false,
              contentType: false,
              processData: false,
              success: function (returnInfo) {
            	  console.log(returnInfo.msg);
            	  if(returnInfo.code==200){
            		    //上传成功后将控件内容清空，并显示上传成功信息
                      document.getElementById('fileImport').value = null;
                      document.getElementById('uploadInfo').innerHTML = "<span style='color:Red'>" + returnInfo.msg + "</span>";
                  
            	  }else{
            		  document.getElementById('uploadInfo').innerHTML = "<span style='color:Red'>" + returnInfo.msg + "</span>";
                      
            	  }
               },
              error: function (returnInfo) {
                  //上传失败时显示上传失败信息
                  document.getElementById('uploadInfo').innerHTML = "<span style='color:Red'>" + returnInfo.msg + "</span>";
              }
          });
      }
      else {
          alert("文件类型错误");
            //将错误信息显示在前端label文本中
            document.getElementById('fileName').innerHTML = "<span style='color:Red'>错误提示:上传文件应该是.xlsx,您现在上传的后缀应该是" + file_typename + ",请重新选择文件</span>"
      }
  }
  
  
   //导入更新文件
   function importupdateFileClick()
  {   
	   var ntableName=$("#tableName option:selected").val();
			 if(ntableName=="" || ntableName==undefined){
				 
				 return $.messager.alert("提示", "请选择一个表", "error");;
			 }
      var file = $('input[name="fileImport"][type="file"]').prop('files')[0];
      //判断控件中是否存在文件内容，如果不存在，弹出提示信息，阻止进一步操作
     if (file == null) { alert('错误，请选择文件'); return; }
      //获取文件名称
      var fileName = file.name;
      //获取文件类型名称
      var file_typename = fileName.substring(fileName.lastIndexOf('.'), fileName.length);
      //这里限定上传文件文件类型必须为.xlsx，如果文件类型不符，提示错误信息
      if (file_typename == '.xlsx'||file_typename == '.xls')
      {
          //计算文件大小
          var fileSize = 0;
          //如果文件大小大于1024字节X1024字节，则显示文件大小单位为MB，否则为KB
          if (file.size > 1024 * 1024) {
　　　　　　　　fileSize = Math.round(file.size * 100 / (1024 * 1024)) / 100;

　　　　　　　if (fileSize > 10) {
                   alert('错误，文件超过10MB，禁止上传！'); return;
              }
　　　　　　　fileSize = fileSize.toString() + 'MB';
          }
          else {
              fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
          }
          //将文件名和文件大小显示在前端label文本中
          document.getElementById('fileName').innerHTML = "<span style='color:Blue'>文件名: " + file.name + ',大小: ' + fileSize + "</span>";
          //获取form数据
          var formData = new FormData($("#importFileForm")[0]);
          //调用apicontroller后台action方法，将form数据传递给后台处理。contentType必须设置为false,否则chrome和firefox不兼容
          $.ajax({
              url:"/excelImport/importUpdate?year="+yearValue,
              type: 'POST',
              data: formData,
              async: false,
              cache: false,
              contentType: false,
              processData: false,
              success: function (returnInfo) {
            	  console.log(returnInfo.msg);
            	  if(returnInfo.code==200){
            		    //上传成功后将控件内容清空，并显示上传成功信息
                      document.getElementById('fileImport').value = null;
                      document.getElementById('uploadInfo').innerHTML = "<span style='color:Red'>" + returnInfo.msg + "</span>";
                  
            	  }else{
            		  document.getElementById('uploadInfo').innerHTML = "<span style='color:Red'>" + returnInfo.msg + "</span>";
                      
            	  }
               },
              error: function (returnInfo) {
                  //上传失败时显示上传失败信息
                  document.getElementById('uploadInfo').innerHTML = "<span style='color:Red'>" + returnInfo.msg + "</span>";
              }
          });
      }
      else {
          alert("文件类型错误");
            //将错误信息显示在前端label文本中
            document.getElementById('fileName').innerHTML = "<span style='color:Red'>错误提示:上传文件应该是.xlsx,您现在上传的后缀应该是" + file_typename + ",请重新选择文件</span>"
      }
  }
   
  var dataList=[];
  var tName="";
  function export_excleClick(){
	 var ttname= $("#tableName option:selected").val();
	 if(ttname=="" || ttname==undefined){
		 
		 return $.messager.alert("提示", "请选择一个表", "error");;
	 }
	$.post("/excelImport/export_excle",{
		tableName:
		$("#tableName option:selected").val(),
		year: yearValue
		},function(res){
			dataList=res.list;
			tName=res.tName;
	})
  }
  
  function exportDataList(){
		
		//将workbook装化成blob对象
		  function workbook2blob(workbook) {
		      // 生成excel的配置项
		      var wopts = {
		          // 要生成的文件类型
		          bookType: "xlsx",
		          // // 是否生成Shared String Table，官方解释是，如果开启生成速度会下降，但在低版本IOS设备上有更好的兼容性
		          bookSST: false,
		          type: "binary"
		      };
		      var wbout = XLSX.write(workbook, wopts);
		      // 将字符串转ArrayBuffer
		      function s2ab(s) {
		          var buf = new ArrayBuffer(s.length);
		          var view = new Uint8Array(buf);
		          for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xff;
		          return buf;
		      }
		      var blob = new Blob([s2ab(wbout)], {
		          type: "application/octet-stream"
		      });
		      return blob;
		  }

		      // 将blob对象创建bloburl，然后用a标签实现弹出下载框
		  function openDownloadDialog(blob, fileName) {
		      if (typeof blob == "object" && blob instanceof Blob) {
		          blob = URL.createObjectURL(blob); // 创建blob地址
		      }
		      var aLink = document.createElement("a");
		      aLink.href = blob;
		      // HTML5新增的属性，指定保存文件名，可以不要后缀，注意，有时候 file:///模式下不会生效
		      aLink.download = fileName || "";
		      var event;
		      if (window.MouseEvent) event = new MouseEvent("click");
		      //   移动端
		      else {
		          event = document.createEvent("MouseEvents");
		          event.initMouseEvent( "click", true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null );
		      }
		      aLink.dispatchEvent(event);
		  }
		      if(dataList.length>0){
		    	  /* create a new blank workbook */
		    	  var wb = XLSX.utils.book_new();

					  let sheet1data =dataList;
		
		    		  var sheet1=XLSX.utils.json_to_sheet(sheet1data);

		        	  XLSX.utils.book_append_sheet(wb, sheet1, tName);
		    	  
		    	  // 用的例子
		    	//  let sheet1data = [ { department: "行政部", count: 2 }, { department: "前端部", count: 2 } ];
		    	  //var sheet1 = XLSX.utils.json_to_sheet(sheet1data);
		    	  //XLSX.utils.book_append_sheet(wb, sheet1, tCName);
		    	  const workbookBlob = workbook2blob(wb);
		    	  openDownloadDialog(workbookBlob, tName+`.xlsx`);
		      }
	}
	//参数：prop = 属性，val = 值
	function createJson(f,prop, val) {
	    // 如果 val 被忽略
	    if(typeof val === "undefined") {
	        // 删除属性
	        delete f[prop];
	    }
	    else {
	        // 添加 或 修改
	        f[prop] = val;
	    }
	}
	 
  </script>
</body>
</html>