<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
<link rel ="stylesheet" type =" text/css" href ="/static/easyui-1.8.6/themes/metroblue/easyui.css">
	<link rel ="stylesheet" type ="text/css" href ="/static/easyui-1.8.6/themes/icon.css">
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.min.js"> </script> 
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.easyui.min.js"></script>
    <script type=" text/javascript" src="/static/easyui-1.8.6/locale/easyui-lang-zh_CN.js"></script>
</head>
<style>
    #toolbar .textbox-label{
        width: 150px;
    }
</style>
<body>
    <table id="dg" title="用户表" class="easyui-datagrid" style="width:100%;"
           th:url="@{'/core/getUserTable?year='+${yearValue}}"
           toolbar="#toolbar" pagination="true"
           rownumbers="true" fitColumns="true" singleSelect="true" >
    <thead>
    <tr>
        <th field="userName" width="10%">用户姓名</th>
          <th field="fullName" width="20%">昵称</th>
        <th field="jobNumber" width="20%">工号</th>
        <th field="department" width="20%">所属部门</th>
        <th field="roleName" width="20%">角色权限</th>
        <th field="roleId" width="10%">角色编号</th> 
    </tr>
    </thead>
</table>
<div id="toolbar">

 <shiro:hasPermission name ="admin">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">新增用户</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">编辑用户</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除用户</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="resetPassword()">重置密码</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="assignPermissions()">分配角色</a>
       <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="selectPermissions()">查看权限</a>
   
</shiro:hasPermission>
    <div style="float: right;">
        <input id="nameDept" class="easyui-textbox"  label="姓名/昵称/工号:" data-options="prompt:'输入姓名/昵称/工号'" style="width:400px;" >
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search"  onclick="load()">Search</a>
    </div>
</div>
<div id="dlg" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
    <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
        <h3>用户信息</h3>
        <div style="margin-bottom:10px">
            <input name="userName" class="easyui-textbox" required="true" label="用户名:" missingMessage="用户名不能为空" style="width:100%">
        </div>
        <div id="fullNameDiv" style="margin-bottom:10px">
            <input  id="fullName"class="easyui-textbox" name="fullName"  required="true"  label="昵称:" missingMessage="昵称不能为空" style="width:100%">
        </div>
        <div id="jobNumDiv" style="margin-bottom:10px">
            <input  id="jobNumber"class="easyui-textbox" name="jobNumber"  required="true"  label="工号:" missingMessage="工号不能为空" style="width:100%">
        </div>
      <div id="passwordDiv" style="margin-bottom:10px">
            <input name="pwd" class="easyui-passwordbox" prompt="123456" required="true"   label="密码:" missingMessage="密码不能为空" style="width:100%">
        </div> 
        <div style="margin-bottom:10px">
             <select id="department" class="easyui-combobox" name="department" style="width:100%;" label="部门:"  >
   			 <option value="无">无</option>
				 <option   th:each="department : ${departmentList}" th:value="${department.name}" th:text="${department.name}"></option>
			</select>
           
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>

<div id="distribution" class="easyui-dialog" style="width:400px;height:300px;" data-options="closed:true,modal:true,border:'thin',buttons:'#distribution-buttons'" >

	角色列表：<select id="ddlLine" class="easyui-combotree" style="width: 205px; height: 24px;">
    </select>

</div>
<div id="distribution-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveRolePermissions()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#distribution').dialog('close')" style="width:90px">取消</a>
</div>

<div id="selectdistribution" class="easyui-dialog" style="width:400px;" data-options="closed:true,modal:true,border:'thin',buttons:'#selectdistribution-buttons'" >
    <div class="easyui-panel" style="width:100%;height:350px;max-width:400px;padding:30px 60px;">
			<ul id="selectdistri"></ul>
    </div>

</div>
<div id="selectdistribution-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#selectdistribution').dialog('close')" style="width:90px">取消</a>
</div>
<script type="text/javascript" th:inline="javascript">
var yearValue=[[${yearValue}]];
console.log(yearValue);
    var url;
    function newUser(){
        $('#fm').form('clear');
        $('#dlg').dialog('open').dialog('center').dialog('setTitle','新增用户');
        $('#numjob').textbox({
            disabled: false
        });
        $('#department').combobox('select', "无");
        url = '/core/addUser?year='+yearValue;
    }
    function editUser(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $('#dlg').dialog('open').dialog('center').dialog('setTitle','编辑用户');
            $('#numjob').textbox({
                disabled:true
            });
            $('#fm').form('load',row);
            url = '/core/updateUser?id='+row.id+"&year="+yearValue;
        }
    }
    function saveUser(){
        $('#fm').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
               	if(result.code===0){
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the user data
            	}else {
                    $.messager.alert("提示", result.msg, "error");
            	}
            }
        });
    }
    function destroyUser(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $.messager.confirm('提示','是否确认删除用户?',function(r){
                if (r){
                    $.post('/core/deleteUser',{id:row.id,
                    	year:yearValue},function(result){
                        if (result.code===0){
                            $('#dg').datagrid('reload');    // reload the user data
                        } else {
                        	$.messager.alert("提示", result.msg, "error");
                        }
                    },'json');
                }
            });
        }
    }
    function resetPassword(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $.messager.confirm('提示','是否重置该用户密码?',function(r){
                if (r){
                    $.post('/core/resetPassword',{id:row.id,year:yearValue},function(result){
                        if (result.code===0){
                        	 $.messager.alert("提示", result.msg, "inf");
                            $('#dg').datagrid('reload');    // reload the user data
                        } else {
                        	$.messager.alert("提示", result.msg, "error");
                        }
                    },'json');
                }
            });
        }
    }
    function load() {
        var nameDept = $("#nameDept").val();
        $('#dg').datagrid('load', {
            name: nameDept
        });
    }
    
    function selectPermissions(){
        var row = $('#dg').datagrid('getSelected');
       
      
        if (row){
            $('#selectdistribution').dialog('open').dialog('center').dialog('setTitle','查看角色权限');
            if(row.roleId!=undefined&&row.roleId!=''){
             	//获取权限
            	$('#selectdistri').tree({
            	    url: '/core/getPermissionAllByroleId?roleId='+row.roleId+"&year="+yearValue,
            	    loadFilter: function(data){
            			if (data.d){
            				return data.d;
            			} else {
            				return data;
            			}
            	    }
            	});
            }
        }
    }
    
    
    ///分配角色
    function assignPermissions(){
    var row = $('#dg').datagrid('getSelected');
    if (row){
        $('#distribution').dialog('open').dialog('center').dialog('setTitle','编辑角色权限');
       // setCityData();
	//获取权限
	$.post('/core/getRoleListAll',{year:yearValue},function(result){
		getSelect(result.roleList);
		});


	
	
    }
}
function saveRolePermissions(){

    var row = $('#dg').datagrid('getSelected');
    
	// 保存角色权限
	var permissionIdList = $("#ddlLine").combobox('getValues');
    if (permissionIdList[0] === '') {  // 去除首位空格
    	permissionIdList.splice(0, 1);
    }
	if(permissionIdList.length!=1){
		return $.messager.alert("提示", "请分配一个角色", "info");
	}
	var role_id = permissionIdList[0];
		$.post('/core/saveUserRoleOne',{
			userId: row.id,
			roleId: role_id,
			year:yearValue
		},function(result){
			 if (result.code===200){
				 $.messager.alert("提示", result.errorMsg, "info");
				 $('#dg').datagrid('reload');  
				  $('#distribution').dialog('close'); 
				  
             } else {
             	return $.messager.alert("提示", result.errorMsg, "error");
             }
		});
}
</script>
<script type="text/javascript">
	  function getSelect(listData){
          $('#ddlLine').combotree({
              valueField: "id", //Value字段
              textField: "text", //Text字段
              multiple: true,
              data: listData,
              panelHeight:200,//设置为固定高度，combobox出现竖直滚动条
              onCheck: function (node, checked) {
                  //让全选不显示
                  $("#ddlLine").combotree("setText", $("#ddlLine").combobox("getText").toString().replace("全选,", ""));
              },
              onClick: function (node, checked) {
                  //让全选不显示
                  $("#ddlLine").combotree("setText", $("#ddlLine").combobox("getText").toString().replace("全选,", ""));
              }
          });
	  }
	  

	    </script>
</body>
</html>