html,
body {
    height: 100%;
}
.wrap {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
}
.aui-bar-nav {
    background-color: rgb(60,116,186);
}
.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    padding-bottom: 45px;
}
.aui-mask{
	z-index: 20;
}

.itemList .aui-card-list {
  margin: 0.75rem;
  border-radius: .5rem;
  box-shadow: 2px 2px 2px #eee;
}
.aui-card-list-user-name{
color:#3871AF;
}
.startime{

}
.endtime{
text-align: right;
}
.timeH{
font-size: .6rem;
}
.timeB{
/*font-size: .8rem;*/
font-weight: bold;
}
.jind{
font-size: .6rem;
text-align: center;
}
/*底部*/
  .aui-bar-tab {
    background-color:transparent;
    width: 45%;
    margin: 0 auto;
  }
  .aui-bar-btn-item{
    background-color:#fff;
  }
  .aui-bar-btn-item.aui-active {
      background-color: rgb(60,116,186);
      color: #ffffff;
  }
  .aui-bar-btn-item{
    border-color:rgb(60,116,186);
  }
  
/*   弹出搜索页面 */
.aui-popup-search-page{
	top:0;
	left: 20%;
	right: 0;
	bottom:0;
	transform: translate3d(100%,0,0);
	opacity: 1;
}
.aui-popup-search-page.aui-popup-in{
	top:0;
	left: 20%;
	right: 0;
	bottom:0;
	transform: translate3d(0,0,0);
	opacity: 1;
}
.aui-popup-search-page.aui-popup-out{
	top:0;
	left: 20%;
	right: 0;
	bottom:0;
	transform: translate3d(100%,0,0);
	opacity: 1;
}
.aui-popup-search-page .aui-popup-content{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.aui-popup-search-page .aui-searchbar-input,.aui-popup-search-page .aui-searchbar-input input{
	height: 2rem;
    line-height: 2rem;
    background: #f4f4f4;
    margin: 0 0.75rem;
}
.aui-popup-search-page .aui-searchbar-input{
	box-shadow: 0px 0px 1px 1px #ddd;
}
.aui-popup-search-page .aui-searchbar .aui-iconfont{
	line-height: 2rem;
	font-size: .8rem;
	margin-right: 0.4rem;
}
.aui-popup-search-page .aui-popup-search-btn{
	padding: .75rem;
	padding-top: 1.25rem;
}
.aui-popup-search-page .aui-searchbar-input input{
	
}
.step-default-class{
	
}
.step-finish-class{
	
}
.aui-card-list-content-padded .step-default-class .step-icon { 
     width: 15px; 
     height: 15px; 
     font-size: 12px; 
     color: #fff;
     background: #ddd; 
     font-weight: 500;
     border: none;
}
.aui-card-list-content-padded .steps{
	padding:0;
}
.aui-card-list-content-padded .step-line{
	top:10px;
}
.aui-card-list-content-padded .step-default-class.step-finish-class .step-icon { 
    background: #409eff; 
    color: #fff;
}
.aui-card-list-content-padded .step-default-class.step-finish-class .step-icon.active{
	background: #FF9800;
    width: 20px;
    height: 20px;
    transform: translate(-2px,-1px);
}
.project-name{
	color: rgb(56, 113, 175);
}
.aui-collapse-item .aui-collapse-content .aui-list-item-inner *{
	color: #666!important;
}
.aui-collapse-item .aui-collapse-content .aui-list-item{
	padding-left:1rem;
}

.step-icon.active::before{
      	position: absolute;
   content: attr(data-text);
   padding: 1px 5px;
   color: #fff;
   top: -23px;
   background: #212121;
   border-radius: 5px;
   z-index: 99;
   box-sizing: border-box;
      }
      .step-icon.left1.active::before{
      	    left: -20px;
      }
      .step-icon.left2.active::before{
      	    left: -40px;
      }
      .step-icon.right8.active::before{
      		right: -30px;
      }
      .step-icon.right9.active::before{
      		right: -10px;
      }
      .step-icon.active::after{
      	position: absolute;
	   top: -8px;
	   content: '';
	   background: #212121;
	   width: 7px;
	   height: 7px;
	   transform: rotate(45deg);
	   z-index: 98;
      }
      .down-5{
      	transform: translateY(5px);
      	-ms-transform: translateY(5px);
		-moz-transform: translateY(5px);
		-webkit-transform: translateY(5px);
		-o-transform: translateY(5px);
      }
