<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
<link rel ="stylesheet" type =" text/css" href ="/static/easyui-1.8.6/themes/metroblue/easyui.css">
	<link rel ="stylesheet" type ="text/css" href ="/static/easyui-1.8.6/themes/icon.css">
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.min.js"> </script> 
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.easyui.min.js"></script>
    <script type=" text/javascript" src="/static/easyui-1.8.6/locale/easyui-lang-zh_CN.js"></script>

</head>
<body>
<div>
<table id="dg" title="权限列表" class="easyui-datagrid" style="width:100%;"
       url="/basicManagement/getPermissionList"
       toolbar="#toolbar" pagination="true"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th field="id" width="80">编号</th>
        <th field="permissionName" width="25%">权限名</th>
        <th field="permissionFatherId" width="20%" align="left">父级权限编号</th>
        <th field="createTime" width="80" align="left">建立时间</th>
    </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newPermission()">新增权限</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editPermission()">编辑权限</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyPermission()">删除权限</a>
    <div style="float: right;">
        <input id="nameDept" class="easyui-textbox"  label="权限名:" data-options="prompt:'输入权限名'" style="width:400px;" >
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search"  onclick="load()">Search</a>
    </div>
</div>
 
<div id="dlg" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'" >
    <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
        <h3>权限信息</h3>
        <div style="margin-bottom:10px">
            <input label="权限名" class="easyui-textbox" required="true" id="permissionName" name="permissionName" style="width:100%">
        </div>
        <div style="margin-bottom:10px"  >
          <select id="permissionFatherId" class="easyui-combobox" name="permissionFatherId" style="width:100%;" label="父级权限"  >
   			 <option value="0" >无</option>
				 <option   th:each="permission : ${permissionParent}" th:value="${permission.id}" th:text="${permission.permissionName}">无</option>
		</select>
        </div>
  
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="savePermission()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>

</div>
<script>
var url;
function newPermission(){
	
	 //
    $('#dlg').dialog('open').dialog('center').dialog('setTitle','新增菜单');
    
    $('#permissionFatherId').combobox('select', "0");

    url = '/basicManagement/addPermissionOne';
    // $('#menuName').textbox({readonly: false	})
}
function editPermission(){
    var row = $('#dg').datagrid('getSelected');
    if (row){
        $('#dlg').dialog('open').dialog('center').dialog('setTitle','编辑菜单');
        $('#fm').form('load',
        		{
        	permissionName: row.permissionName
        		});
     // $('#menuName').textbox({readonly: true})
       $('#permissionFatherId').combobox('select', row.permissionFatherId);
        url = '/basicManagement/updatePermissionOne?id='+row.id;
     
    }
}
function savePermission(){
    $('#fm').form('submit',{
        url: url,
        onSubmit: function(){
            return $(this).form('validate');
        },
        success: function(result){
        	 var data = eval('(' + result + ')');  
        	 console.log(data);
        	if(data.code===200){
                $('#dlg').dialog('close');        // close the dialog
                $('#dg').datagrid('reload');    // reload the user data
        	}else {
                $.messager.alert("提示", data.errorMsg, "error");
        	}
        }
    });
}
function destroyPermission(){
    var row = $('#dg').datagrid('getSelected');
    if (row){
        $.messager.confirm('Confirm','你确定删除吗？',function(r){
            if (r){
                $.post('/basicManagement/deletePermissionOne',{id:row.id},function(result){
                    if (result.code===200){
                        $('#dg').datagrid('reload');    // reload the user data
                    } else {
                    	$.messager.alert("提示", data.errorMsg, "error");
                    }
                },'json');
            }
        });
    }
}
if ($.fn.pagination) {
    $.fn.pagination.defaults.beforePageText = '第';
    $.fn.pagination.defaults.afterPageText = '共{pages}页';
    $.fn.pagination.defaults.displayMsg = '显示{from}到{to},共{total}记录';
}
function load() {
    var nameDept = $("#nameDept").val();
    $('#dg').datagrid('load', {
        name: nameDept
    });
}
</script>

</body>
</html>