<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
<link rel ="stylesheet" type =" text/css" href ="/static/easyui-1.8.6/themes/metroblue/easyui.css">
	<link rel ="stylesheet" type ="text/css" href ="/static/easyui-1.8.6/themes/icon.css">
	
        <link rel="stylesheet" type="text/css" href="/static/easyui-1.8.6/themes/mobile.css">
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.min.js"> </script> 
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.easyui.min.js"></script>
    <script type=" text/javascript" src="/static/easyui-1.8.6/locale/easyui-lang-zh_CN.js"></script>
	<script src="/static/js/xlsx.core.min.js" type="text/javascript" charset="utf-8"></script>
	
        <script type="text/javascript" src="/static/easyui-1.8.6/jquery.easyui.mobile.js"></script>
</head>
<style>
    #toolbar .textbox-label{
        width: 150px;
    }
</style>
<body>
   <div style="margin-left:20px;margin-bottom:10px;margin-top:50px"  >
         <select id="year_url" class="easyui-combobox" name="yearUrlId" style="width:300px;" label="年份">
			<option   th:each="year : ${yearList}" th:value="${year.year}" th:text="${year.year}">
			</option>
		</select> 
			
		  <shiro:notAuthenticated>
		 	 <div style="float:right;margin-right:5%">
		  		<a href="/login">登入</a>
			 </div>
		  </shiro:notAuthenticated>
		 <shiro:authenticated>
		 <div style="float:right;margin-right:5%">
		  <shiro:principal property="userName"/> 
		  <a href="/logout"><img src="/static/img/leave.jpg" class="leave">退出</a>
		 </div>
		 </shiro:authenticated>
  </div> 
<div th:each="tableOne : ${tableList}">
<p>--审核进行中----[[${tableOne.create_table_chinese_name}]]</p>
 <table th:id="${tableOne.create_table_english_name}" th:title="${tableOne.create_table_chinese_name}" class="easyui-datagrid" style="width:100%;"
       pagination="true" toolbar="#toolbar"
  th:url=" @{'/phone/getStaticsTableList/'+${tableOne.create_table_english_name}+'?year='+${yearValue}}"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th th:each="column : ${tableOne.tableColumn}" th:field="${column.create_table_column}" th:text="${column.create_table_chinese_column}" width="10%"></th>
    </tr>
    </thead>
</table> 
</div>


<script type="text/javascript" th:inline="javascript">
var yearr=[[${yearValue}]];
$('#year_url').combobox({
	onChange:function(n,o){
		urlyear=$('#year_url').combobox('getValue');
	  window.open('/PastYear/year_index?year='+urlyear,"_self"); //打开连接方式

	 }}
) 
</script>
</body>
</html>