    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>内涵奖 </title>
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />


<link rel ="stylesheet" type =" text/css" href ="/static/easyui-1.8.6/themes/metroblue/easyui.css">
	<link rel ="stylesheet" type ="text/css" href ="/static/easyui-1.8.6/themes/icon.css">
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.min.js"> </script> 
	<script type ="text/javascript" src ="/static/easyui-1.8.6/jquery.easyui.min.js"></script>
	
        <link rel="stylesheet" type="text/css" href="/static/easyui-1.8.6/themes/mobile.css">
        <script type="text/javascript" src="/static/easyui-1.8.6/jquery.easyui.mobile.js"></script>
    </head>
    <body>
        <div class="easyui-navpanel">
            <header>
                <div class="m-toolbar">
                    <div class="m-title">内涵奖</div>
                    <div class="m-right">
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true"></a>
                        <a href="javascript:void(0)" class="easyui-menubutton" data-options="iconCls:'icon-more',menu:'#mm',menuAlign:'right',hasDownArrow:false"></a>
                    </div>
                </div>
            </header>
        </div>
        <div id="mm" class="easyui-menu" style="width:150px;" th:if="${not #lists.isEmpty(menuList)}">
           <div class="nav_text"  style="padding:26px 5px; float:left" th:each="menu : ${menuList}">
                   <a class="easyui-linkbutton"  th:onclick="'showCategory('+${menu.id}+')'" th:text="${menu.menu_name}" th:value="${menu.id}" style="width:150px;"></a>
    			</div> 
        </div>
    </body>
    </html>